<% layout('./layouts/layout') -%>
<% block('script', '<script src="/js/moment.js"></script>') -%>
<% block('script', '<script src="/js/performance.js"></script>') -%>
<div class="screen">
    <div class="screen-scroll">
        <%- partial('../screens/018/00101') %>
    </div>
    <div class="device-type-pc"></div>
    <div class="device-type-sp"></div>
</div>
<style>
    .screen {
        height: 1000px;
        transform-origin: 0 0;
        transform: scale(0.5);
        visibility: visible;
        position: relative;
        overflow: visible;
    }
    .screen-inner {
        background-color: #f9f5f6;
    }
    .screen .seat a span {
        display: block;
    }
</style>
<div class="performance">
    <h1 class="page-ttl">performance</h1>
    <p class="read">選択してください</p>
    <div class="mb-medium button blue-button center-button"><a href="/inquiry/login" target="_blank">照会ページ</a></div>
    <div class="mb-medium date">
        <select>
            <% for (let i = 0; i < 10; i++) { %>
            <% if (moment().add((i - 5), 'days').format('YYYYMMDD') === moment().format('YYYYMMDD')) { %>
            <option selected value="<%= moment().add((i - 5), 'days').format('YYYYMMDD') %>"><%= moment().add((i - 5), 'days').format('YYYY年MM月DD日') %></option>
            <% } else { %>
            <option value="<%= moment().add((i - 5), 'days').format('YYYYMMDD') %>"><%= moment().add((i - 5), 'days').format('YYYY年MM月DD日') %></option>
            <% } %>
            <% } %>
        </select>
    </div>
    <div class="mb-medium search button blue-button center-button"><a href="#">検索</a></div>
    <div>
        <ul class="box radius bg-light-gray performances"></ul>
    </div>
</div>