<%- contentFor('script') %>
<script src="/js/common/numerickey.js"></script>
<script src="/js/purchase/input.js"></script>
<script src="<%= gmoModuleUrl %>"></script>
<script>Multipayment.init('<%= gmoShopId %>');</script>
<%- contentFor('prev') %>
/purchase/ticket
<%- contentFor('body') %>
<div class="purchase-input">
    <h1 class="page-ttl"><%- __('purchase.input.page_ttl') %></h1>
    <p class="read"><%- __('purchase.input.read') %></p>
    <form id="purchaseform" method="post">
        <div class="form-layout center">
            <dl class="mb-large">
                <dt><%- __('common.tel_num') %></dt>
                <dd>
                    <input type="tel" name="telephone" autocomplete="off" placeholder="<%- __('common.placeholder.tel') %>" value="<%= input.telephone %>" class="numerickeybord" readonly="readonly">
                </dd>
            </dl>
            <input type="hidden" name="familyName" placeholder="<%- __('common.placeholder.familyName') %>" value="">
            <input type="hidden" name="givenName" placeholder="<%- __('common.placeholder.givenName') %>" value="">
            <input type="hidden" name="email" placeholder="<%- __('common.placeholder.mail') %>" value="">
            <input type="hidden" name="emailConfirm" placeholder="<%- __('common.placeholder.emailConfirm') %>" value="">
            <% if (price > 0) { %>
            <h2 class="payment-ttl mb-middle">
                <%- __('common.payment') %><span class="image credit-image"><img src="/images/default/common/credit_card.png" alt=""></span>
            </h2>
            
            <dl class="mb-middle">
                <dt><%- __('common.cardno') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="cardno" id="cardNumber" autocomplete="off" value="" maxlength="16" placeholder="<%- __('common.placeholder.cardno') %>" class="numerickeybord" readonly="readonly">
                </dd>
            </dl>
            <div class="mb-middle expire">
                <dl>
                    <dt><%- __('common.expire') %> / <%- __('common.month') %></dt>
                    <dd>
                        <select name="creditMonth" id="cardExpirationMonth">
                            <%
                            for (let i = 0; i < 12; i++) {
                                let num = i + 1;
                                let month = (num < 10) ? '0' + String(num) : String(num);
                            %>
                                <option value="<%= month %>"><%= month %></option>
                            <% } %>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt><%- __('common.expire') %> / <%- __('common.year') %></dt>
                    <dd>
                        <select name="creditYear" id="cardExpirationYear">
                            <%
                            let choices = {};
                            let year2digits = moment().format('YY');
                            for (let i = 0; i < 10; i++) {
                                let key = (parseInt(year2digits) + i).toString();
                                choices[key] = `20${key}`;
                            }
                            %>
                            <% for (let key in choices) { %>
                            <option value="20<%- key %>"><%- choices[key] %></option>
                            <% } %>
                        </select>
                    </dd>
                </dl>
                <input type="hidden" name="expire" value="">
            </div>
            <dl class="mb-large securitycode">
                <dt><%- __('common.securitycode') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="securitycode" maxlength="4" autocomplete="off" value="" placeholder="<%- __('common.placeholder.securitycode') %>" class="numerickeybord numerickeybord-top" readonly="readonly">
                </dd>
            </dl>
            <input type="hidden" name="holdername" autocomplete="off" value="" placeholder="<%- __('common.placeholder.holdername') %>">
            <input type="hidden" name="gmoTokenObject" value="">
            <input type="hidden" name="gmoError" value="<%- (error && error.gmo) ? error.gmo.msg : '' %>">
            <input type="hidden" name="gmoErrorMessage" value="<%- (gmoError !== null) ? gmoError.message : '' %>">
            <% } %>
        </div>
<<<<<<< HEAD
        <div class="button middle-button next-button"><button class="center icon-triangle-01" type="submit"><%- __('purchase.input.next') %></button></div>
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
=======
        <div class="button middle-button next-button blue-button"><button class="center icon-triangle-white" type="submit"><%- __('purchase.input.next') %></button></div>
        <input type="hidden" name="transaction_id" value="<%= transactionId %>">
>>>>>>> feature/SSKTS-543
    </form>
    <input type="hidden" name="price" value="<%= price %>">
    <input type="hidden" name="validation" value="<%= JSON.stringify(error) %>">
    <input type="hidden" name="theaterCode" value="<%= performance.attributes.theater.id %>">
</div>

<%- include('../locales/validation') %>

<%- contentFor('modals') %>
<%- include('modals/validation') %>
<%- include('modals/securitycode') %>
<%- include('modals/creditcardAlert') %>
