<%- contentFor('script') %>
<script src="/js/purchase/performances.js"></script>
<%- contentFor('prev') %>
/
<%- contentFor('step') %>
0
<%- contentFor('body') %>
<div class="purchase-performances">
    <h1 class="page-ttl"><%- __('purchase.performances.page_ttl') %></h1>
    <p class="read"><%- __('purchase.performances.read') %></p>
    <div class="form-layout center mb-middle">
        <dl>
            <dt><%- __('purchase.performances.date') %></dt>
            <dd class="date">
                <select>
                    <% for (let i = 0; i < 7; i++) { %>
                    <% const date = moment().add(i, 'days'); %>
                    <option value="<%= date.format('YYYYMMDD') %>"><%= date.format('YYYY年MM月DD日') %></option>
                    <% } %>
                </select>
            </dd>
        </dl>
    </div>
    
    <ul class="performances"></ul>
</div>