<%- contentFor('script') %>
<script src="/js/purchase/performances.js"></script>
<%- contentFor('prev') %>
/
<%- contentFor('body') %>
<div class="purchase-performances">
    <h1 class="page-ttl"><%- __('purchase.performances.page_ttl') %></h1>
    <p class="read"><%- __('purchase.performances.read') %></p>
    <div class="form-layout center mb-middle">
        <dl>
            <dt><%- __('purchase.performances.date') %></dt>
            <dd class="date">
                <select>
                    <% for (let i = 0; i < 7; i++) { %>
                    <% 
                    const date = moment().add(i, 'days');
                    const dateText = (i === 0) ? __('today')
                    : (i === 1) ? __('tomorrow')
                    : date.format('YYYY年MM月DD日');
                    %>
                    <option value="<%= date.format('YYYYMMDD') %>"><%= dateText %></option>
                    <% } %>
                </select>
            </dd>
        </dl>
    </div>
    
    <ul class="performances"></ul>
    <p class="no-performances text-center"><%= __('purchase.performances.no_performances') %></p>
</div>