
<%- contentFor('script') %>
<script src="/js/purchase/seat.js"></script>
<script src="/js/ScreenSeatStatusesMap.js"></script>
<%- contentFor('prev') %>
/purchase/performances
<%- contentFor('body') %>
<div class="purchase-seat">
    <h1 class="page-ttl"><%- __('purchase.seat.page_ttl') %></h1>
    <p class="read"><%- __('purchase.seat.read') %></p>

    <h2 class="film-ttl mb-middle text-center"><%= performance.attributes.film.name[__('lang')] %></h2>
    <div class="film-info center mb-middle text-center">
        <div><span class="small-text square"><%- __('common.screen') %></span><strong class="large-text screen-name"><%= performance.attributes.screen.name[__('lang')] %></strong></div>
        <div><span class="small-text square"><%- __('common.screening_time') %></span><div class="d-ib performance-date"><strong class="large-x-text time-start"><%= timeFormat(performance.attributes.time_start) %></strong> - <span class="time-end"><%= timeFormat(performance.attributes.time_end) %></span></div></div>
    </div>

    <div class="screen-cover mb-middle" 
    data-limit="<%= performance.attributes.coaAvailableNum %>" 
    data-theater="<%= performance.attributes.theater.id %>" 
    data-day="<%= performance.attributes.day %>" 
    data-coa-title-code="<%= performanceCOA.titleCode %>"
    data-coa-title-branch-num="<%= performanceCOA.titleBranchNum %>"
    data-time-start="<%= performance.attributes.timeStart %>"
    data-screen-code="<%= performanceCOA.screenCode %>">
        <div class="seat-info">
            <div class="seat"><%- __('purchase.seat.seats.default') %></div>
            <div class="seat active"><%- __('purchase.seat.seats.active') %></div>
            <div class="seat disabled"><%- __('purchase.seat.seats.disabled') %></div>
        </div>
        <div class="screen">
            <div class="zoom-btn"><a class="icon-zoom-out text-center" href="#"><%- __('purchase.seat.zoom.out') %></a></div>
            <div class="screen-scroll">
            </div>
            <div class="device-type-pc"></div>
        </div>
        <div class="arrow prev-arrow">
            <div class="mb-x-small text-center">
                <span class="small-x-text"><%- __('purchase.seat.arrow.prev') %></span><br><span class="time"></span>
            </div>
            <a class="center" href="#"></a>
        </div>
        <div class="arrow next-arrow">
            <div class="mb-x-small text-center">
                <span class="small-x-text"><%- __('purchase.seat.arrow.next') %></span><br><span class="time"></span>
            </div>
            <a class="center" href="#"></a>
        </div>
    </div>
    
    <form method="post">
        <div class="button middle-button next-button blue-button"><button class="center icon-triangle-white" type="submit"><%- __('purchase.seat.next') %></button></div>
        <input type="hidden" name="agree" value="true" id="agree">  
        <input type="hidden" name="seats" value="<%= reserveSeats %>">
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
    </form>
    <div style="display: none"><a data-modal="seatClose" href="#"></a></div>
</div>
<%- include('../error/static') %>
<input type="hidden" name="performanceId" value="<%= performance.id %>">

<%- include('../locales/validation') %>

<%- contentFor('modals') %>
<%- include('modals/seatNotSelect') %>
<%- include('modals/seatUpperLimit') %>
<%- include('modals/seatSelectAnnounce') %>
