<%- contentFor('script') %>
<script src="/js/purchase/ticket.js"></script>
<%- contentFor('prev') %>
/purchase/seat/<%= performance.id %>/
<%- contentFor('body') %>
<div class="purchase-ticket">
    <form method="post">
        <h1 class="page-ttl"><%- __('purchase.ticket.page_ttl') %></h1>
        <p class="read"><%- __('purchase.ticket.read') %></p>

        <% if (purchaseModel.isUsedMvtk()) { %>
        <% if (mvtkLength === 0) { %>
        <!--<p class="read mb-small"><%- __('purchase.ticket.mvtk.read') %></p>-->
        <div class="box mb-middle mvtk center">
            <div class="mvtk-text small-text"><%- __('purchase.ticket.mvtk.read') %></div>
            <div class="button mvtk-button"><a class="icon-triangle-02" href="/purchase/mvtk"></a></div>
        </div>
        <% } %>
        <% } %>

        <ul class="mb-small seats">
            <% if (reserveTickets.length > 0) { %>
            <% for (let ticket of reserveTickets) { %>
            <li data-section="<%= ticket.section %>"
                data-seat-code="<%= ticket.seatCode %>"
                data-ticket-code="<%= ticket.ticketCode %>"
                data-ticket-name="<%= ticket.ticketName %>"
                data-sale-price="<%= ticket.salePrice %>"
                data-mvtk-num="<%= ticket.mvtkNum %>"
                data-add-price-glasses="<%= ticket.addPriceGlasses %>"
                data-glasses="<%= ticket.glasses %>">
                <dl>
                    <dt class="text-center mb-small"><strong><%= ticket.seatCode %></strong></dt>
                    <dd>                                
                        <a href="#" data-modal="ticketType" class="icon-select">
                            <div class="small-text mb-x-small"><%= ticket.ticketName %></div>
                            <div><strong>￥<%= ticket.salePrice %></strong></div>
                        </a>
                    </dd>
                </dl>
            </li>
            <% } %>
            <% } else { %>
            <% for (let seat of reserveSeats.listTmpReserve) { %>
            <li data-section="<%= seat.seatSection %>"
                data-seat-code="<%= seat.seatNum %>"
                data-ticket-code=""
                data-ticket-name=""
                data-sale-price=""
                data-mvtk-num=""
                data-add-price-glasses=""
                data-glasses="">
                <dl>
                    <dt class="text-center mb-small"><strong><%= seat.seatNum %></strong></dt>
                    <dd data-ticket="">
                        <a href="#" data-modal="ticketType" class="icon-select"><%- __('purchase.ticket.ticket_select') %></a>
                    </dd>
                </dl>
            </li>
            <% } %>
            <% } %>
        </ul>

        <div class="mb-large">
            <div class="border-bottom-dot mb-small"></div>
            <% if (kbnJoueihousiki === '002') { %>
            <!-- 4DX -->
            <p class="small-text mb-small"><%- __('purchase.ticket.note_4dx') %></p>
            <% } %>
            <p class="small-text"><%- __('purchase.ticket.note') %></p>
        </div>    
    
    
        <div class="button middle-button next-button"><button class="center icon-triangle-01" type="submit"><%- __('purchase.ticket.next') %></button></div>
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
    </form>

</div>

<input type="hidden" class="ticket-validation" value="<%= error %>">

<%- contentFor('modals') %>
<%- include('modals/ticketValidation') -%>
<%- include('modals/ticketType') -%>
<%- include('modals/ticketNotSelect') -%>
