<footer class="footer">
    <div class="inner">
        <ul class="clearfix">
            <li><a href="<%- portalSite %>/privacy/"><%- __('footer.privacy_policy') %></a></li>
            <li><a href="<%- portalSite %>/law/"><%- __('footer.Specified_Commercial_Transaction_Law') %></a></li>
        </ul>
        <div class="copyright"><%- __('footer.copyright') %></div>
    </div>
</footer>