<%- contentFor('body') %>
<div class="not-found">
    <h1 class="page-ttl"><%- __('not_found.page_ttl') %></h1>
    <p class="read"><%- __('not_found.read') %></p>
    <div class="button-area clearfix">
        <% if (viewType === 'app') { %>
            <div class="prev-link"><a class="icon-prev-black"href="<%- appSiteUrl %>/purchase"><%- __('error.prev') %></a></div>
        <% } else { %>
            <div class="prev-link"><a class="icon-prev-black"href="<%= portalSite %>"><%- __('error.prev') %></a></div>
        <% } %>
    </div>
</div>
