<%- contentFor('script') %>
<script src="/js/method/ticketing.js"></script>

<%- contentFor('body') %>
<div class="method-ticketing">
    <h1 class="page-ttl"><%- __('method.ticketing.page_ttl') %></h1>
    <p class="read"><%- __('method.ticketing.read') %></p>

    <ol>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.ticketing.step_01_ttl') %></h2>
            <p class="mb-middle"><%- __('method.ticketing.step_01_read') %></p>
            <div class="image"><img src="/images/default/method/ticketing/ticketing_01.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.ticketing.step_02_ttl') %></h2>
            <p class="mb-middle"><%- __('method.ticketing.step_02_read') %></p>
            <div class="image"><img src="/images/default/method/ticketing/ticketing_02.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.ticketing.step_03_ttl') %></h2>
            <p class="mb-middle"><%- __('method.ticketing.step_03_read') %></p>
            <div class="image"><img src="/images/default/method/ticketing/ticketing_03.svg" alt=""></div>
        </li>
    </ol>


    <div class="button-area clearfix">
        <div class="close-link"><a class="icon-close-black window-close" href="#"><%- __('common.close') %></a></div>
    </div>
</div>