<!DOCTYPE html>
<html lang="<%- __('lang') %>">
<%- include ../head %>
<% if (viewType === 'app') { %>
<body class="app purchase">
<h1>アプリ</h1>
<% } else { %>
<body class="purchase">
<% } %>
<%- include ../tags/body %>
<%- include ../noscript %>
<div class="wrapper">
<%- include header %>

<div class="contents">
    <%- body %>
</div>

<%- include ../footer %>
</div>
<div class="modal-cover" onclick=""></div>

<%- defineContent('modals') %>

<%- include ../loading %>
<%- include ../tags/env %>
</body>
</html>