<%- contentFor('script') %>
<script src="/js/purchase/overlap.js"></script>

<%- contentFor('body') %>
<div class="purchase-overlap">
    <h1 class="page-ttl red-text"><%- __('purchase.overlap.page_ttl') %></h1>
    <p class="read"><%- __('purchase.overlap.read') %></p>

    <div class="form-layout mb-x-large">
        <h2 class="section-ttl"><%- __('purchase.overlap.prev_ttl') %></h2>
        <ul class="box radius bg-light-gray mb-large">
            <li>
                <dl>
                    <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                    <dd><%= before.superEvent.location.name.ja %> / <%= before.location.name.ja %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.film_title') %></dt>
                    <dd><%= before.workPerformed.name %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.appreciation_date') %></dt>
                    <dd>
                        <%= moment(before.coaInfo.dateJouei).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(before.coaInfo.dateJouei).format('ddd') + ']') %>) <%= timeFormat(before.startDate, before.coaInfo.dateJouei) %> - <%= timeFormat(before.endDate, before.coaInfo.dateJouei) %>
                    </dd>
                </dl>
            </li>       
        </ul>
        <p class="text-center mb-x-small"><%- __('purchase.overlap.prev_read') %></p>
        <form method="post" action="/purchase/overlap/prev">
            <div class="button prev-button blue-button"><button class="icon-prev-white" type="submit"><%- __('purchase.overlap.prev') %></button></div>
            <input type="hidden" name="performanceId" value="<%= before.identifier %>">
        </form>
    </div>
    
    <div class="form-layout">
        <h2 class="section-ttl"><%- __('purchase.overlap.next_ttl') %></h2>
        <ul class="box radius bg-light-gray mb-large">
            <li>
                <dl>
                    <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                    <dd><%= after.superEvent.location.name.ja %> / <%= after.location.name.ja %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.film_title') %></dt>
                    <dd><%= after.workPerformed.name %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.appreciation_date') %></dt>
                    <dd>
                        <%= moment(after.coaInfo.dateJouei).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(after.coaInfo.dateJouei).format('ddd') + ']') %>) <%= timeFormat(after.startDate, after.coaInfo.dateJouei) %> - <%= timeFormat(after.endDate, after.coaInfo.dateJouei) %>
                    </dd>
                </dl>
            </li>       
        </ul> 
        <p class="text-center  mb-x-small"><%- __('purchase.overlap.next_read') %></p>
        <form method="post" action="/purchase/overlap/new">
            <div class="button next-button blue-button"><button class="icon-next-white" type="submit"><%- __('purchase.overlap.next') %></button></div>
            <input type="hidden" name="performanceId" value="<%= after.identifier %>">
        </form>
    </div>

    
</div>