<%- contentFor('script') %>
<script src="/js/purchase/performances.js"></script>
<%- contentFor('step') %>
0
<%- contentFor('body') %>
<div class="purchase-performances">
    <h1 class="page-ttl">performance</h1>
    <p class="read">選択してください</p>
    <div class="mb-medium inquiry-theater">
        <select>
            <option selected value="112">北島</option>
            <option selected value="118">姶良</option>
        </select>
    </div>
    <div class="mb-medium button blue-button center-button inquiry-button"><a href="/inquiry/login" target="_blank">照会ページ</a></div>
    <div class="mb-medium theater">
        <select>
            <option selected value="112">北島</option>
            <option selected value="118">姶良</option>
        </select>
    </div>
    <div class="mb-medium date">
        <select>
            <% for (let i = 0; i < 15; i++) { %>
            <% const date = moment().add((i - 5), 'days'); %>
            <% if (moment().add((i - 6), 'days').format('YYYYMMDD') === moment().format('YYYYMMDD')) { %>
            <option selected value="<%= date.format('YYYYMMDD') %>"><%= date.format('YYYY年MM月DD日') %></option>
            <% } else { %>
            <option value="<%= date.format('YYYYMMDD') %>"><%= date.format('YYYY年MM月DD日') %></option>
            <% } %>
            <% } %>
        </select>
    </div>
    <div class="mb-medium search button blue-button center-button"><a href="#">検索</a></div>
    <div>
        <ul class="box radius bg-light-gray performances"></ul>
    </div>
</div>