<%- contentFor('script') %>
<script src="/js/purchase/performances.js"></script>
<%- contentFor('body') %>
<div class="purchase-performances">
    <h1 class="page-ttl">performance</h1>
    <p class="read">選択してください</p>
    <div class="mb-medium">
        <select name="theater">
            <% for (const theater of movieTheaters) { %>
            <option value="<%= theater.location.branchCode %>"><%= theater.name.ja %></option>
            <% } %>
        </select>
        <select name="date">
            <% for (let i = 0; i < 7; i++) { %>
            <% const date = moment().add(i, 'days'); %>
            <option value="<%= date.format('YYYYMMDD') %>"><%= date.format('YYYY年MM月DD日') %></option>
            <% } %>
        </select>
        <select name="type">
            <option value="0">オンライン</option>
            <option value="1">アプリ</option>
        </select>
    </div>
    <div class="mb-medium button blue-button center-button inquiry-button"><a href="/inquiry/login" target="_blank">照会ページ</a></div>
    
    <div>
        <ul class="box radius bg-light-gray performances"></ul>
    </div>
</div>