
<%- contentFor('script') %>
<script src="/js/purchase/seat.js"></script>
<script src="/js/ScreenSeatStatusesMap.js"></script>
<%- contentFor('body') %>
<div class="purchase-seat">
    <h1 class="page-ttl"><%- __('purchase.seat.page_ttl') %></h1>
    <p class="read"><%- __('purchase.seat.read') %></p>

    <div>
        <div class="screen-cover mb-middle" 
        data-limit="<%= purchaseModel.individualScreeningEvent.coaInfo.availableNum %>" 
        data-theater="<%= purchaseModel.individualScreeningEvent.coaInfo.theaterCode %>" 
        data-day="<%= purchaseModel.individualScreeningEvent.coaInfo.dateJouei %>" 
        data-coa-title-code="<%= purchaseModel.individualScreeningEvent.coaInfo.titleCode %>"
        data-coa-title-branch-num="<%= purchaseModel.individualScreeningEvent.coaInfo.titleBranchNum %>"
        data-time-start="<%= purchaseModel.individualScreeningEvent.coaInfo.timeBegin %>"
        data-screen-code="<%= purchaseModel.individualScreeningEvent.coaInfo.screenCode %>">
            <div class="radius bg-light-gray">
                <div class="screen">
                    <div class="zoom-btn"><a class="icon-zoom-out bg-white text-center small-x-text" href="#"><%- __('purchase.seat.zoom.out') %></a></div>
                    <div class="screen-scroll">
                    </div>
                    <div class="device-type-pc"></div>
                    <div class="device-type-sp"></div>
                </div>
                <div class="seat-info">
                    <div class="box radius bg-white">
                        <div class="seat"><strong><%- __('purchase.seat.seats.default') %></strong></div>
                        <div class="seat active"><strong><%- __('purchase.seat.seats.active') %></strong></div>
                        <div class="seat disabled"><strong><%- __('purchase.seat.seats.disabled') %></strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="film-info radius mb-large">
            <p class="mb-small"><%- __('purchase.seat.film_info.read') %></p>
            <dl>
                <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                <dd class="border-bottom-dot">
                    <%= purchaseModel.individualScreeningEvent.superEvent.location.name.ja %> / <%= purchaseModel.individualScreeningEvent.location.name.ja %>
                </dd>
                <dt><%- __('common.appreciation_date') %></dt>
                <dd class="border-bottom-dot">
                    <%= moment(purchaseModel.individualScreeningEvent.coaInfo.dateJouei).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(purchaseModel.individualScreeningEvent.coaInfo.dateJouei).format('ddd') + ']') %>) <%= timeFormat(purchaseModel.individualScreeningEvent.startDate, purchaseModel.individualScreeningEvent.coaInfo.dateJouei) %> - <%= timeFormat(purchaseModel.individualScreeningEvent.endDate, purchaseModel.individualScreeningEvent.coaInfo.dateJouei) %>
                </dd>
                <dt><%- __('common.film_title') %></dt>
                <dd><%= purchaseModel.individualScreeningEvent.workPerformed.name %></dd>
            </dl>
        </div>
    </div>
    
    <h2 class="section-ttl"><%- __('common.agreement') %></h2>
    <p class="mb-small"><%- __('common.agreement_read') %></p>
    <div class="box radius bg-ultra-light-gray mb-middle agree small-x-text">
        <%- include('agreement/ja/' + purchaseModel.individualScreeningEvent.coaInfo.theaterCode.slice(-2), {}) %>
    </div>
    <form method="post">
        <div class="mb-x-large text-center">
            <input type="checkbox" name="agree" value="true" id="agree">
            <label for="agree" class="agree-label"><strong><%- __('common.agree') %></strong></label>
            <% if (error && error.agree) { %>
                <div class="validation-text"><%= error.agree.msg %></div>
            <% } %>
        </div>    

    
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next-white" type="submit"><%- __('purchase.seat.next') %></button></div>
            <div class="prev-link"><a class="icon-prev-black" href="<%= purchaseModel.movieTheaterOrganization.url %>"><%- __('purchase.seat.prev') %></a></div>
        </div>
        <input type="hidden" name="seats" value="<%= reserveSeats %>">
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
    </form>
    <div style="display: none"><a data-modal="seatClose" href="#"></a></div>
</div>
<input type="hidden" name="performanceId" value="<%= purchaseModel.individualScreeningEvent.identifier %>">

<%- include('../locales/validation') %>

<%- contentFor('modals') %>
<%- include('modals/seatNotSelect') %>
<%- include('modals/seatUpperLimit') %>
