<div class="complete">
    <h1 class="page-ttl">購入完了</h1>
    <p class="read">
        ご購入ありがとうございました。<br>
        購入者情報入力画面で入力していただいたメールアドレス宛に購入完了メールを送信しました。ご鑑賞方法に関してはページ下部をご確認ください。<br>
    </p>

    <ul class="box bg-light-gray info">
        <li>
            <dl>
                <dt>劇場 / スクリーン</dt>
                <dd>
                    <%= (data) ? data.facilityName : '' %> /
                        <%= (data) ? data.screenName : '' %>
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>作品名</dt>
                <dd>
                    <%= (film) ? film.titleOfWork : '' %>
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>鑑賞日時</dt>
                <dd>
                    <%= (data) ? data.screeningDate : '' %>
                        <%= (data) ? data.screeningStartTime : '' %>
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>座席 / 券種</dt>
                <dd>
                    <ul>
                        <% for (let seat of seats) { %>
                            <li>
                                <%= seat.code %>
                                    <%= seat.type %>
                            </li>
                            <% } %>
                    </ul>
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>ご利用金額</dt>
                <dd>￥5,100</dd>
            </dl>
        </li>
    </ul>

    <h2 class="page-ttl">入場方法</h2>
    <p class="read">
        シネマサンシャインでは2通りの入場方法をお選びいただけます。<br>
        以下をお読み頂きいずれかの方法でご入場ください。
    </p>

    <ul class="box bg-light-gray entry-method">
        <li>
            <dl>
                <dt><span class="text-icon-dark-blue small-text">入場方法1</span><strong>劇場発券機で発券し入場</strong></dt>
                <dd>
                    <p>
                        劇場に設置されている発券機にて発券頂きます。購入番号をお控えの上、劇場までお越し頂きご利用ください。
                    </p>
                    <div class="image"><img src="" alt=""></div>
                    <div class="button blue-button">
                        <a href="<%- url('method.ticketing') %>" target="_blank">発券方法はこちら</a>
                    </div>
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><span class="text-icon-dark-blue small-text">入場方法2</span><strong>入場用QRコードで入場</strong></dt>
                <dd>
                    <p>
                        入場用QRコードは鑑賞日当日に発行されます。入場の際は劇場に設置されている発券機もしくはチケット照会ページより発券してください。<br>
                        以下のQRコード発券情報確認ボタンをクリックしていただき発券に必要な情報を取得してください。
                    </p>
                    <div class="image"><img src="" alt=""></div>
                    <div class="button blue-button">
                        <a href="<%- url('inquiry.confirm') %>" target="_blank">QRコード発券情報確認</a>
                    </div>
                </dd>
            </dl>
        </li>
    </ul>

    <div class="button-area clearfix">
        <div class="prev-link"><a href="<%- url('index') %>">劇場TOPへ戻る</a></div>
    </div>

</div>