<% layout('../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/ScreenSeatStatusesMap.js"></script>') -%>
<% block('script', '<script src="/js/purchase/confirm.js"></script>') -%>
<div class="purchase-confirm">
    <h1 class="page-ttl"><%- __('purchase.confirm.page_ttl') %></h1>
    <p class="read"><%- __('purchase.confirm.read') %></p>

    <form class="form-layout" method="post">
        <h2 class="section-ttl"><%- __('common.film_info') %></h2>
        <ul class="box bg-light-gray mb-large">
            <li>
                <dl>
                    <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                    <dd><%= performance.attributes.theater.name[__('lang')] %> / <%= performance.attributes.screen.name[__('lang')] %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.film_title') %></dt>
                    <dd><%= performance.attributes.film.name[__('lang')] %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.appreciation_date') %></dt>
                    <dd>
                        <div class="mb-xx-small"><strong class="red-text"><%= moment(performance.attributes.day).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(performance.attributes.day).format('ddd') + ']') %>) <%= moment(performance.attributes.time_start, 'hmm').format('HH:mm') %> - <%= moment(performance.attributes.time_end, 'hmm').format('HH:mm') %></strong></div>
                        <p class="small-text red-text"><%- __('purchase.confirm.date_note') %></p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.seat') %></dt>
                    <dd>
                        <% 
                        let seats = [];
                        for (let seat of reserveSeats.list_tmp_reserve) { 
                            seats.push(seat.seat_num);
                        } 
                        %>
                        <div><%= seats.join('、') %></div>
                        <div class="right">
                            <div class="button dark-blue-button change-button"><a href="#" data-modal="screen"><%- __('common.confirm') %></a></div><!--
                            --><div class="button light-gray-button change-button"><a href="<%- url('purchase.seat', {id: performance._id}) %>"><%- __('common.change') %></a></div>
                        </div>
                    </dd>
                    
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.ticket') %></dt>
                    <dd>
                        <%
                        let ticketObj = {};
                        let tickets = [];
                        for (let ticket of reserveTickets.tickets) {
                            if (ticketObj[ticket.info.ticket_code]) {
                                ticketObj[ticket.info.ticket_code].length++;
                            }　else {
                                ticketObj[ticket.info.ticket_code] = {
                                    name: ticket.info.ticket_name,
                                    length: 1
                                }
                            }
                        }
                        for (let key in ticketObj) {
                            let ticket = ticketObj[key];
                            tickets.push(`${ticket.name} × ${ticket.length}`);
                        }
                        %>
                        <div><%= tickets.join('、') %></div>
                        <div class="right">
                            <div class="button light-gray-button change-button">
                                <a href="<%- url('purchase.ticket') %>"><%- __('common.change') %></a>
                            </div>
                        </div>
                    </dd>
                </dl>
            </li>
            
        </ul>       
        
        <h2 class="section-ttl">
            <%- __('common.purchase_info') %>
            <div class="right">
                <div class="button light-gray-button change-button">
                    <a href="<%- url('purchase.input') %>"><%- __('common.change') %></a>
                </div>
            </div>
        </h2>
        <ul class="box bg-light-gray mb-large">
            <li>
                <dl>
                    <dt><%- __('common.name_hira') %></dt>
                    <dd><%= input.last_name_hira %> <%= input.first_name_hira %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.mail') %></dt>
                    <dd><%= input.mail_addr %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.tel') %></dt>
                    <dd><%= input.tel_num %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.cardno') %></dt>
                    <dd><%= gmoTokenObject.maskedCardNo %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.amount_spent') %></dt>
                    <dd>￥<%= formatPrice(price) %></dd>
                </dl>
            </li>
        </ul>
        

        <input type="hidden" name="token" value="<%= gmoTokenObject.token %>">
        <input type="hidden" name="toBeExpiredAt" value="<%= gmoTokenObject.toBeExpiredAt %>">
        <input type="hidden" name="isSecurityCodeSet" value="<%= gmoTokenObject.isSecurityCodeSet %>">
        
        

        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next" type="submit"><%- __('purchase.confirm.next') %></button></div>
            <div class="prev-link"><a class="icon-prev"href="<%- url('purchase.input') %>"><%- __('purchase.confirm.prev') %></a></div>
        </div>
        
    </form>
</div>



<%- partial('complete') %>

<% block('modals', partial('modals/screen')) -%>