<% layout('../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/confirm.js"></script>') -%>
<div class="purchase-confirm">
    <h1 class="page-ttl"><%- __('purchase.confirm.page_ttl') %></h1>
    <p class="read"><%- __('purchase.confirm.read') %></p>

    <form method="post">
        <h2 class="section-ttl"><%- __('common.film') %></h2>
        <ul class="box bg-light-gray mb-medium">
            <li>
                <dl>
                    <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                    <dd><%= performance.theater_name[__('lang')] %> / <%= performance.screen_name[__('lang')] %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.film_title') %></dt>
                    <dd><%= performance.film_name[__('lang')] %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.appreciation_date') %></dt>
                    <dd><%= moment(performance.day).format('YYYY年MM月DD日') %> <%= moment(performance.time_start, 'hmm').format('HH:mm') %> - <%= moment(performance.time_end, 'hmm').format('HH:mm') %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.seat') %> / <%- __('common.ticket') %></dt>
                    <dd>
                        <ul>
                        <% for (let seat of seats) { %>
                        <li><%= seat.code %> <%= seat.type %></li> 
                        <% } %>
                        </ul>
                    </dd>
                </dl>
            </li>
        </ul>       
        
        <h2 class="section-ttl"><%- __('common.reservation') %></h2>
        <ul class="box bg-light-gray mb-medium">
            <li>
                <dl>
                    <dt><%- __('common.name_hira') %></dt>
                    <dd><%= (info) ? info.last_name_hira : '' %> <%= (info) ? info.first_name_hira : '' %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.mail') %></dt>
                    <dd><%= (info) ? info.mail : '' %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.tel') %></dt>
                    <dd><%= (info) ? info.tel : '' %></dd>
                </dl>
            </li>
        </ul>        
        
        <h2 class="section-ttl"><%- __('common.payment') %></h2>
        <ul class="box bg-light-gray mb-medium">
            <li>
                <dl>
                    <dt><%- __('common.cardno') %></dt>
                    <dd><%= (gmo_token_object) ? gmo_token_object.maskedCardNo : '' %></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.amount_spent') %></dt>
                    <dd>￥5,100</dd>
                </dl>
            </li>
        </ul>
        <input type="hidden" name="token" value="<%= (gmo_token_object) ? gmo_token_object.token : '' %>">
        <input type="hidden" name="toBeExpiredAt" value="<%= (gmo_token_object) ? gmo_token_object.toBeExpiredAt : '' %>">
        <input type="hidden" name="isSecurityCodeSet" value="<%= (gmo_token_object) ? gmo_token_object.isSecurityCodeSet : '' %>">
        
        

        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button type="submit"><%- __('purchase.confirm.next') %></button></div>
            <div class="prev-link"><a href="<%- url('purchase.input') %>"><%- __('purchase.confirm.prev') %></a></div>
        </div>
        <input type="hidden" name="reservationNo" value="<%= reservationNo %>">
    </form>
</div>

<%- partial('complete') %>