<% layout('./layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/input.js"></script>') -%>
<% block('script', '<script src="'+ gmoModuleUrl +'"></script>') -%>
<% block('script', '<script>Multipayment.init("'+ gmoShopId +'");</script>') -%>




<div class="purchase-input">
    <h1 class="page-ttl"><%- __('purchase.input.page_ttl') %></h1>
    <p class="read"><%- __('purchase.input.read') %></p>

    <form id="purchaseform" method="post">
        

        <h2 class="section-ttl"><%- __('common.name_hira') %><span class="text-icon-red small-text"><%- __('common.required') %></span></h2>
        <div class="box radius bg-light-gray mb-large">
            <div class="column-02">
                <dl>
                    <dt><%- __('common.last_name_hira') %></dt>
                    <dd>
                        <input type="text" name="last_name_hira" autocomplete="family-name" placeholder="<%- __('common.placeholder.last_name_hira') %>" value="<%= input.last_name_hira %>">
                        <% if (error && error.last_name_hira) { %>
                        <div class="validation-text"><%= error.last_name_hira[0] %></div>
                        <% } %>
                    </dd>
                </dl>
                <dl>
                    <dt><%- __('common.first_name_hira') %></dt>
                    <dd>
                        <input type="text" name="first_name_hira" autocomplete="given-name" placeholder="<%- __('common.placeholder.first_name_hira') %>" value="<%= input.first_name_hira %>">
                        <% if (error && error.first_name_hira) { %>
                        <div class="validation-text"><%= error.first_name_hira[0] %></div>
                        <% } %>
                    </dd>
                </dl>
            </div>
        </div>
        <h2 class="section-ttl"><%- __('common.mail_addr') %><span class="text-icon-red small-text"><%- __('common.required') %></span></h2>
        <div class="box radius bg-light-gray mb-large">
            <dl>
                <dd>
                    <input type="email" name="mail_addr" autocomplete="email" placeholder="<%- __('common.placeholder.mail') %>" value="<%= input.mail_addr %>">
                    <% if (error && error.mail_addr) { %>
                    <div class="validation-text"><%= error.mail_addr[0] %></div>
                    <% } %>
                </dd>
            </dl>
            <dl>
                <dt><%- __('common.mail_confirm') %></dt>
                <dd>
                    <input type="email" name="mail_confirm" placeholder="<%- __('common.placeholder.mail_confirm') %>" value="<%= input.mail_confirm %>">
                    <% if (error && error.mail_confirm) { %>
                    <div class="validation-text"><%= error.mail_confirm[0] %></div>
                    <% } %>
                    <p class="small-text"><%- __('common.note.mail') %></p>
                </dd>
            </dl>
        </div>

        <h2 class="section-ttl"><%- __('common.tel_num') %><span class="text-icon-red small-text"><%- __('common.required') %></span></h2>
        <div class="box radius bg-light-gray mb-large">
            <dl>
                <dd>
                    <input type="tel" name="tel_num" autocomplete="tel" placeholder="<%- __('common.placeholder.tel') %>" value="<%= input.tel_num %>">
                    <% if (error && error.tel_num) { %>
                    <div class="validation-text"><%= error.tel_num[0] %></div>
                    <% } %>
                    <p class="small-text"><%- __('common.note.tel') %></p>
                </dd>
            </dl>
        </div>      
        <% if (price > 0) { %>
        <h2 class="section-ttl">
            <%- __('common.payment') %><span class="text-icon-red small-text"><%- __('common.required') %></span>
            <span class="image credit-image"><img src="/images/common/credit_card.png" alt=""></span>
        </h2>
        
        <p class="mb-small"><%- __('common.note.credit') %></p>
        <ul class="box radius bg-light-gray mb-large credit form-layout">
            <li class="price">
                <dl>
                    <dt><%- __('common.amount_spent') %></dt>
                    <dd class="large-text red-text"><strong>￥<%= formatPrice(price) %></strong></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.cardno') %></dt>
                    <dd>
                        <input type="text" pattern="\d*" name="cardno" id="cardNumber" autocomplete="off" value="" placeholder="<%- __('common.placeholder.cardno') %>">
                        <% if (error && error.cardno) { %>
                        <div class="validation-text"><%= error.cardno[0] %></div>
                        <% } %>
                        <p class="small-text"><%- __('common.note.cardno') %></p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.expire') %></dt>
                    <dd>
                        
                        <select name="credit_month" id="cardExpirationMonth">
                            <%
                            for (let i = 0; i < 12; i++) {
                                let num = i + 1;
                                let month = (num < 10) ? '0' + String(num) : String(num);
                            %>
                                <option value="<%= month %>"><%= month %></option>
                            <% } %>
                        </select> <%- __('common.month') %> 
                        <select name="credit_year" id="cardExpirationYear">
                            <%
                            let choices = {};
                            let year2digits = moment().format('YY');
                            for (let i = 0; i < 10; i++) {
                                let key = (parseInt(year2digits) + i).toString();
                                choices[key] = `20${key}`;
                            }
                            %>
                            <% for (let key in choices) { %>
                            <option value="20<%- key %>"><%- choices[key] %></option>
                            <% } %>
                        </select> <%- __('common.year') %>
                        <input type="hidden" name="expire" value="">
                        <% if (error && error.expire) { %>
                        <div class="validation-text expire"><%= error.expire[0] %></div>
                        <% } %>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.securitycode') %></dt>
                    <dd>
                        <input type="text" pattern="\d*" name="securitycode" maxlength="4" autocomplete="off" value="" placeholder="<%- __('common.placeholder.securitycode') %>">
                        <% if (error && error.securitycode) { %>
                        <div class="validation-text"><%= error.securitycode[0] %></div>
                        <% } %>
                        <p><a href="#" data-modal="securitycode"><%- __('common.note.securitycode') %></a></p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><%- __('common.holdername') %></dt>
                    <dd>
                        <input type="text" name="holdername" autocomplete="off" value="" placeholder="<%- __('common.placeholder.holdername') %>">
                        <% if (error && error.holdername) { %>
                        <div class="validation-text"><%= error.holdername[0] %></div>
                        <% } %>
                    </dd>
                </dl>
            </li>
        </ul>
        <input type="hidden" name="gmo_token_object" value="">
        <% } %>
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next-white" type="submit"><%- __('purchase.input.next') %></button></div>
            <div class="prev-link"><a class="icon-prev-black"href="/purchase/ticket/"><%- __('purchase.input.prev') %></a></div>
        </div>
        <input type="hidden" name="transaction_id" value="<%= transactionId %>">
    </form>
    <input type="hidden" name="price" value="<%= price %>">
<%- partial('../layouts/siteSeal') %>
</div>


<% block('modals', partial('modals/securitycode')) -%>
<% block('modals', partial('modals/creditcardAlert')) -%>
<%- partial('../locales/validation') %>