<% layout('../purchase/layout') -%>
<% block('script', '<script src="/js/purchase/seat.js"></script>') -%>
<% block('script', '<script src="/js/ScreenSeatStatusesMap.js"></script>') -%>

<div class="purchase-seat">
    <h1 class="page-ttl">座席選択</h1>
    <p class="read">
        ご希望の座席を選択して次へボタンを押してください。予約できる座席枚数は最大4席までとなります。<br>
        画面をタッチすると画面がズームしますので座席を選択してください。
    </p>
    
    <div class="screen-limit" style="display: none;" data-limit="5"></div>
    <% //partial('../screens/' + performance.theater + performance.screen) %>
    <%- partial('../screens/00101') %>

    <div class="film-info">
        <p>現在、選択されているチケットは下記のとおりです。</p>
        <dl>
            <dt>鑑賞日時 / スクリーン</dt>
            <dd><%= moment(performance.day).format('YYYY年MM月DD日') %> <%= moment(performance.time_start, 'hmm').format('HH:mm') %> - <%= moment(performance.time_end, 'hmm').format('HH:mm') %></dd>
            <dt>作品名</dt>
            <dd><%= performance.film_name.ja %></dd>
        </dl>
    </div>
    <form method="post">
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button type="submit">次へ</button></div>
            <div class="prev-link"><a href="<%- url('index') %>">戻る</a></div>
        </div>
    </form>
</div>