<% layout('./layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/seat.js"></script>') -%>
<% block('script', '<script src="/js/ScreenSeatStatusesMap.js"></script>') -%>

<div class="purchase-seat">
    <h1 class="page-ttl"><%- __('purchase.seat.page_ttl') %></h1>
    <p class="read"><%- __('purchase.seat.read') %></p>

    <div>
        <div class="screen-cover mb-medium" 
        data-limit="4" 
        data-theater="<%= performance.attributes.theater.id %>" 
        data-day="<%= performance.attributes.day %>" 
        data-coa-title-code="<%= performanceCOA.titleCode %>"
        data-coa-title-branch-num="<%= performanceCOA.titleBranchNum %>"
        data-time-start="<%= performance.attributes.time_start %>"
        data-screen-code="<%= performanceCOA.screenCode %>">
            <div class="radius bg-light-gray">
                <div class="screen">
                    <div class="zoom-btn"><a class="icon-zoom-out bg-white text-center small-text" href="#"><%- __('purchase.seat.zoom.out') %></a></div>
                    <div class="screen-scroll">
                    </div>
                    <div class="device-type-pc"></div>
                    <div class="device-type-sp"></div>
                </div>
                <div class="seat-info">
                    <div class="box radius bg-white">
                        <div class="seat"><strong><%- __('purchase.seat.seats.default') %></strong></div>
                        <div class="seat active"><strong><%- __('purchase.seat.seats.active') %></strong></div>
                        <div class="seat disabled"><strong><%- __('purchase.seat.seats.disabled') %></strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="film-info radius mb-large">
            <p class="mb-small"><%- __('purchase.seat.film_info.read') %></p>
            <dl>
                <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                <dd class="border-bottom-dot"><%= performance.attributes.theater.name[__('lang')] %> / <%= performance.attributes.screen.name[__('lang')] %></dd>
                <dt><%- __('common.appreciation_date') %></dt>
                <dd class="border-bottom-dot"><%= moment(performance.attributes.day).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(performance.attributes.day).format('ddd') + ']') %>) <%= timeFormat(performance.attributes.time_start) %> - <%= timeFormat(performance.attributes.time_end) %></dd>
                <dt><%- __('common.film_title') %></dt>
                <dd><%= performance.attributes.film.name[__('lang')] %></dd>
            </dl>
        </div>
    </div>
    
    <h2 class="section-ttl"><%- __('common.agreement') %></h2>
    <p class="mb-small"><%- __('common.agreement_read') %></p>
    <div class="box radius bg-ultra-light-gray mb-medium agree small-text">
        <%- partial('agreement/ja') %>
    </div>
    <form method="post">
        <div class="mb-x-large text-center">
            <input type="checkbox" name="agree" value="true" id="agree">
            <label for="agree" class="agree-label"><strong><%- __('common.agree') %></strong></label>
            <% if (error && error.agree) { %>
                <div class="validation-text"><%= error.agree[0] %></div>
            <% } %>
        </div>    

    
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next-white" type="submit"><%- __('purchase.seat.next') %></button></div>
            <div class="prev-link"><a class="icon-prev-black" href="/"><%- __('purchase.seat.prev') %></a></div>
        </div>
        <input type="hidden" name="seats" value="<%= reserveSeats %>">
        <input type="hidden" name="transaction_id" value="<%= transactionId %>">
    </form>
    <div style="display: none"><a data-modal="seat_close" href="#"></a></div>
</div>


<% block('modals', partial('modals/seatNotSelect')) -%>
<% block('modals', partial('modals/seatUpperLimit')) -%>
<%- partial('../locales/validation') %>