<% layout('../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/seat.js"></script>') -%>
<% block('script', '<script src="/js/ScreenSeatStatusesMap.js"></script>') -%>

<div class="purchase-seat">
    <h1 class="page-ttl"><%- __('purchase.seat.page_ttl') %></h1>
    <p class="read"><%- __('purchase.seat.read') %></p>

    <div>
        <div class="screen-cover bg-light-gray" 
        data-limit="5" 
        data-theater="<%= performance.theater._id %>" 
        data-day="<%= performance.day %>" 
        data-coa-title-code="<%= performance.film.coa_title_code %>"
        data-coa-title-branch-num="<%= performance.film.coa_title_branch_num %>"
        data-time-start="<%= performance.time_start %>"
        data-screen-code="<%= performance.screen.coa_screen_code %>">
            <div class="screen">
                <div class="screen-scroll">
                    <%- partial('../screens/00101') %>
                </div>
                <div class="device-type-pc"></div>
                <div class="device-type-sp"></div>
            </div>
            <div class="seat-info bg-light-gray mb-medium">
                <div class="box bg-white">
                    <div class="seat"><strong>空席</strong></div>
                    <div class="seat active"><strong>選択した席</strong></div>
                    <div class="seat disabled"><strong>選択不可の席</strong></div>
                </div>
            </div>
            <div class="zoom-btn ghost-button black-button mb-medium"><a href="javascript:void(0)">zoom</a></div>
        </div>

        <div class="film-info">
            <p class="mb-small">現在、選択されているチケットは下記のとおりです。</p>
            <dl>
                <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
                <dd><%= performance.theater.name[__('lang')] %> / <%= performance.screen.name[__('lang')] %></dd>
                <dt><%- __('common.appreciation_date') %></dt>
                <dd><%= moment(performance.day).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(performance.day).format('ddd') + ']') %>) <%= moment(performance.time_start, 'hmm').format('HH:mm') %> - <%= moment(performance.time_end, 'hmm').format('HH:mm') %></dd>
                <dt><%- __('common.film_title') %></dt>
                <dd><%= performance.film.name[__('lang')] %></dd>
            </dl>
        </div>
    </div>
    <form method="post">
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next" type="submit"><%- __('purchase.seat.next') %></button></div>
            <div class="prev-link"><a class="icon-prev"href="<%- url('index') %>"><%- __('purchase.seat.prev') %></a></div>
        </div>
        <input type="hidden" name="seats" value="<%= reserveSeats %>">
    </form>
</div>