<% layout('../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/ticket.js"></script>') -%>
<div class="purchase-ticket">
    <form method="post">
        <h1 class="page-ttl"><%- __('purchase.ticket.page_ttl') %></h1>
        <p class="read"><%- __('purchase.ticket.read') %></p>
        <ul class="box radius bg-light-gray mb-medium seats">
            <% for (let ticket of reserveTickets) { %>
                <li>
                    <dl class="d-table">
                        <dt class="d-td seat-code" data-ticket="<%= JSON.stringify(ticket) %>"><%= ticket.seat_code %></dt>
                        <% if (ticket.ticket_code) { %>
                            <dd class="d-td width-medium">                                
                                <div class="ghost-button blue-button">
                                    <a href="#" data-modal="ticket_type"><%= ticket.ticket_name_ja %> ￥<%= ticket.sale_price %></a>
                                </div>
                            </dd>
                        <% } else { %>
                            <dd class="d-td width-medium" data-ticket="">
                                <div class="button blue-button">
                                    <a href="#" data-modal="ticket_type"><%- __('purchase.ticket.ticket_select') %></a>
                                </div>
                            </dd>
                        <% } %>
                    </dl>
                </li>
            <% } %>
            
        </ul>

        <div class="box radius bg-light-gray mb-large total">
            <div class="text-right mb-small">
                <div class="length mb-x-small"><%- __('common.purchase_length') %> <strong class="red-text large-text"><%- __n('%s ticket', reserveSeats.list_tmp_reserve.length) %></strong></div>
                <div class="price"><%- __('common.total_fee') %> <strong class="red-text large-text"><span>0</span><%- __('common.price') %></strong></div>
            </div>
            <div class="border-bottom-dot mb-small"></div>
            <p class="small-x-text"><%- __('purchase.ticket.note') %></p>
        </div>

        <p class="read mb-small"><%- __('purchase.ticket.mvtk.read') %></p>
        <div class="mvtk-button mb-medium ghost-button  yellow-button center-button">
            <input type="checkbox" name="mvtk" value="true" id="mvtk">
            <label for="mvtk"><img src="/images/common/mvtk_logo.svg" alt="ムビチケ"><%- __('purchase.ticket.mvtk.button') %></label>
        </div>

        
    
    
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next" type="submit"><%- __('purchase.seat.next') %></button></div>
            <div class="prev-link"><a class="icon-prev"href="<%- url('purchase.seat', {id: performance._id}) %>"><%- __('purchase.seat.prev') %></a></div>
        </div>
        <input type="hidden" name="transaction_id" value="<%= transactionId %>">
    </form>
</div>

<% block('modals', partial('modals/tickets')) -%>
<% block('modals', partial('modals/ticket_not_select')) -%>
