<% layout('../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/ticket.js"></script>') -%>
<div class="purchase-ticket">
    <form method="post">
        <h1 class="page-ttl"><%- __('purchase.ticket.page_ttl') %></h1>
        <p class="read"><%- __('purchase.ticket.read') %></p>
        <ul class="seats box bg-light-gray mb-medium">
            <% for (let seat of reserveSeats.list_tmp_reserve) { %>
                <li>
                    <dl class="d-table">
                        <dt class="d-td seat-code"><%= seat.seat_num %></dt>
                        <% if (reserveTickets && reserveTickets[seat.seat_num]) { %>
                            <dd class="d-td width-medium" data-ticket="<%= JSON.stringify(reserveTickets[seat.seat_num]) %>">                                
                                <div class="ghost-button blue-button">
                                    <a href="#" data-modal="ticket-type"><%= reserveTickets[seat.seat_num].ticket_name %></a>
                                </div>
                            </dd>
                        <% } else { %>
                            <dd class="d-td width-medium" data-ticket="">
                                <div class="button blue-button">
                                    <a href="#" data-modal="ticket-type">選択してください</a>
                                </div>
                            </dd>
                        <% } %>
                    </dl>
                </li>
            <% } %>
            
        </ul>

        <div class="mvtk-button mb-medium ghost-button  yellow-button">
            <input type="checkbox" name="mvtk" value="true" id="mvtk">
            <label for="mvtk"><%- __('purchase.ticket.mvtk') %></label>
        </div>

        <div class="total box bg-light-gray">
            <div class="length mb-x-small"><%- __('common.purchase_length') %> <strong class="red-text"><%= reserveSeats.list_tmp_reserve.length %></strong>枚</div>
            <div class="price"><%- __('common.total_fee') %> <strong class="red-text">0</strong>円</div>
        </div>
    
    
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button type="submit"><%- __('purchase.seat.next') %></button></div>
            <div class="prev-link"><a href="<%- url('purchase.seat') %>?id=<%= performance._id %>"><%- __('purchase.seat.prev') %></a></div>
        </div>
        
    </form>
</div>

<%- partial('modals/ticket') %>