<% layout('../purchase/layout') -%>
<% block('script', '<script src="/js/purchase/ticketTypeSelect.js"></script>') -%>
<div class="ticket-type-select">
    <h1 class="page-ttl">券種選択</h1>
    <p class="read">
        ご希望の座席を選択して次へボタンを押してください。予約できる座席枚数は最大4席までとなります。<br>
        画面をタッチすると画面がズームしますので座席を選択してください。
    </p>
    <ul class="seats box">
        <% for (let seat of seats) { %>
            <li>
                <dl class="d-table">
                    <dt class="d-td seat-code"><%= seat.code %></dt>
                    <dd class="d-td" data-seat-type="<%= seat.type %>">
                        <% if (!seat.type) { %>
                        <div class="button blue-button"><a href="#" data-modal="ticket-type">選択してください</a></div>
                        <% } else { %>
                        <div class="button blue-button"><a href="#" data-modal="ticket-type"><%= SALES_TYPE[seat.type] %></a></div>
                        <% } %>
                    </dd>
                </dl>
            </li>
        <% } %>
        
    </ul>
    <div class="total box">
        <div class="length">購入枚数 <strong class="red-text"><%= seats.length %></strong>枚</div>
        <div class="price">合計金額 <strong class="red-text">5,100</strong>円</div>
    </div>
    <form method="post">
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button type="submit">次へ</button></div>
            <div class="prev-link"><a href="<%- url('purchase.seatSelect') %>">戻る</a></div>
        </div>
        <input type="hidden" name="reservationNo" value="<%= reservationNo %>">
    </form>
</div>

<%- partial('modals/ticketType') %>