<%- contentFor('body') %>
<div class="index">
    <h1 class="page-ttl"><%- __('index.page_ttl') %></h1>
    <p class="read"><%- __('index.read') %></p>
    <div class="button blue-button mb-small"><a href="/performances"><%- __('index.purchase') %></a></div>
    <div class="button blue-button"><a href="/inquiry/login?theater=118"><%- __('index.inquiry') %></a></div>
</div>

