<%- contentFor('script') %>
<script src="/js/index.js"></script>
<%- contentFor('style') %>
<style>
    .navigation .buttons .restart-button {
        display: none;
    }
</style>
<%- contentFor('body') %>
<div class="index">
    <div class="index-inner">
        <div class="index-contents">
            <h1 class="page-ttl"><%- __('index.page_ttl') %></h1>
            <p class="read"><%- __('index.read') %></p>
            <div class="buttons">
                <div class="button large-button inquiry-button">
                    <a href="/inquiry/login" class="icon-triangle-white">
                        <div class="small-text mb-small"><%- __('index.inquiry-read') %></div>
                        <div class="large-x-text mb-large"><%- __('index.inquiry') %></div>
                        <div><img src="/images/fixed/ticket.svg" alt="" width="243" height="175"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
