<%- contentFor('script') %>
<script src="/js/purchase/performances.js"></script>
<%- contentFor('step') %>
0
<%- contentFor('body') %>
<div class="performance">
    <h1 class="page-ttl"><%- __('purchase.performances.page_ttl') %></h1>
    <p class="read"><%- __('purchase.performances.read') %></p>

    <input type="hidden" name="theater" value="118">
    <div class="form-layout center mb-middle">
        <dl>
            <dt><%- __('purchase.performances.date') %></dt>
            <dd class="date">
                <select>
                    <% for (let i = 0; i < 15; i++) { %>
                    <% const date = moment().add((i - 5), 'days'); %>
                    <% if (moment().add((i - 6), 'days').format('YYYYMMDD') === moment().format('YYYYMMDD')) { %>
                    <option selected value="<%= date.format('YYYYMMDD') %>"><%= date.format('YYYY年MM月DD日') %></option>
                    <% } else { %>
                    <option value="<%= date.format('YYYYMMDD') %>"><%= date.format('YYYY年MM月DD日') %></option>
                    <% } %>
                    <% } %>
                </select>
            </dd>
        </dl>
    </div>
    
    <ul class="performances"></ul>
</div>