<%- contentFor('script') %>
<script src="/js/inquiry/login.js"></script>

<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.login.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.login.read') %></p>
    <% if (error) { %>
    <div class="box mb-middle">
        <% if (error.reserve_num) { %>
        <div class="validation-text"><%= error.reserve_num.msg %></div>
        <% } %>
        <% if (error.tel_num) { %>
        <div class="validation-text"><%= error.tel_num.msg %></div>
        <% } %>
    </div>
    <% } %>
    <form method="post">
        <div class="form-layout center">
            <dl class="mb-small">
                <dt><%- __('common.purchase_number') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="reserve_num" maxlength="8" autocomplete="off" placeholder="<%- __('common.placeholder.purchase_number') %>" value="<%= reserveNum %>">
                </dd>
            </dl>
            <dl class="mb-large">
                <dt><%- __('common.tel_num') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="tel_num" autocomplete="off" placeholder="<%- __('common.placeholder.tel') %>" value="<%= telNum %>">
                </dd>
            </dl>
        </div>

        <% if (theaterCode) { %>
            <input type="hidden" name="theater_code" value="<%= theaterCode %>">
        <% } %>
        
        <div class="button middle-button next-button"><button class="center" type="submit"><%- __('inquiry.login.next') %></button></div>
    </form>
</div>