<%- contentFor('script') %>
<script src="/js/common/epos-2.3.0.js"></script>
<script src="/js/common/epsonprint.js"></script>
<script src="/js/common/print.js"></script>
<script src="/js/index.js"></script>
<%- contentFor('body') %>
<div class="index">
    <h1 class="page-ttl"><%- __('index.page_ttl') %></h1>
    <p class="read"><%- __('index.read') %></p>
    <div class="buttons">
        <div class="button large-button purchase-button">
            <a href="/purchase/performances" class="icon-triangle-01">
                <div class="small-text mb-small"><%- __('index.purchase-read') %></div>
                <div class="large-x-text mb-large"><%- __('index.purchase') %></div>
                <div><img src="/images/fixed/card.svg" alt="" width="240" height="170"></div>
            </a>
        </div>
        <div class="button large-button inquiry-button">
            <a href="#" class="icon-triangle-01">
                <div class="small-text mb-small"><%- __('index.inquiry-read') %></div>
                <div class="large-x-text mb-large"><%- __('index.inquiry') %></div>
                <div><img src="/images/fixed/ticket.svg" alt="" width="243" height="175"></div>
            </a>
        </div>
    </div>
    <div class="box">
        <p class="small-text"><%- __('index.qr_read') %></p>
        <div class="qr-code"><img src="/images/fixed/qr.png" alt="" width="100" height="100"></div>
    </div>
</div>

<%- contentFor('modals') %>
<%- include('../purchase/modals/print') %>