<div class="steps not-print">
    <ul>
        <li class="step step-00<%= (step === 0) ? ' active' : '' %>"><div class="text"><%- __('inquiry.step00') %></div></li>
        <li class="step step-01<%= (step === 1) ? ' active' : '' %>"><div class="text"><%- __('inquiry.step01') %></div></li>
        <li class="step step-02<%= (step === 2) ? ' active' : '' %>"><div class="text"><%- __('inquiry.step02') %></div></li>
    </ul>
</div>