<%- contentFor('script') %>
<script src="/js/purchase/mvtk/confirm.js"></script>
<%- contentFor('body') %>
<div class="purchase-mvtk-confirm">
    <h1 class="page-ttl"><%- __('purchase.mvtk.confirm.page_ttl') %></h1>
    <p class="read"><%- __('purchase.mvtk.confirm.read') %></p>

    <form method="post">
        <% if (purchaseNoList.length > 0) { %>
        <ul class="box radius bg-light-gray mb-middle mvtk-lists">
            <% for (const purchaseNo of purchaseNoList) { %>
            <li>
                <dl class="d-table">
                    <dt class="d-td"><%- __('common.mvtk_code') %> <%= purchaseNo %></dt>
                    <dd class="d-td width-medium">
                        <% for (const mvtkTicket of mvtk) { %>
                        <% if (mvtkTicket.code === purchaseNo) { %>
                        <p><strong><%= mvtkTicket.ticket.ticketName %> × <%= mvtkTicket.ykknInfo.ykknKnshbtsmiNum %></strong></p>
                        <% } %>
                        <% } %>
                    </dd>
                </dl>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <div class="box radius bg-light-gray mb-middle">
            <p><%- __('purchase.mvtk.confirm.not_ticket') %></p>
        </div>
        <% } %>
        

        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next-white" type="submit"><%- __('purchase.mvtk.confirm.next') %></button></div>
            <div class="prev-link"><a class="icon-prev-black"href="/purchase/mvtk"><%- __('purchase.mvtk.confirm.prev') %></a></div>
        </div>
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
    </form>
<%- include('../../layouts/siteSeal') %>
</div>