<div class="steps not-print">
    <ul>
        <li class="step step-00<%= (step === '0') ? ' active' : '' %>"><div class="text"><%- __('purchase.step00') %></div></li>
        <li class="step step-01<%= (step === '1') ? ' active' : '' %>"><div class="text"><%- __('purchase.step01') %></div></li>
        <li class="step step-02<%= (step === '2') ? ' active' : '' %>"><div class="text"><%- __('purchase.step02') %></div></li>
        <li class="step step-03<%= (step === '3') ? ' active' : '' %>"><div class="text"><%- __('purchase.step03') %></div></li>
        <li class="step step-04<%= (step === '4') ? ' active' : '' %>"><div class="text"><%- __('purchase.step04') %></div></li>
        <li class="step step-05<%= (step === '5') ? ' active' : '' %>"><div class="text"><%- __('purchase.step05') %></div></li>
    </ul>
</div>