<% layout('./layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/mvtk/confirm.js"></script>') -%>
<div class="purchase-mvtk-confirm">
    <h1 class="page-ttl"><%- __('purchase.mvtk.confirm.page_ttl') %></h1>
    <p class="read"><%- __('purchase.mvtk.confirm.read') %></p>

    <form method="post">
        <ul class="box radius bg-light-gray mb-medium mvtk-lists">
            <% for (const mvtkTicket of mvtk) { %>
            <li>
                <dl class="d-table">
                    <dt class="d-td"><%- __('common.mvtk_code') %> <%= mvtkTicket.code %></dt>
                    <dd class="d-td width-medium">
                        <div class="button gray-button not-link">
                            <a href="#">
                                <div><%= mvtkTicket.ticket.ticket_name %> × <%= mvtkTicket.ykknInfo.ykknKnshbtsmiNum %></div>
                            </a>
                        </div>
                    </dd>
                </dl>
            </li>
            <% } %>
        </ul>
        

        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next-white" type="submit"><%- __('purchase.mvtk.confirm.next') %></button></div>
            <div class="prev-link"><a class="icon-prev-black"href="/purchase/mvtk"><%- __('purchase.mvtk.confirm.prev') %></a></div>
        </div>
        <input type="hidden" name="transaction_id" value="<%= transactionId %>">
    </form>
<%- partial('../../layouts/siteSeal') %>
</div>