<% layout('../../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/mvtk/confirm.js"></script>') -%>
<div class="purchase-mvtk-confirm">
    <h1 class="page-ttl">ムビチケ券適用内容確認</h1>
    <p class="read">
        認証したムビチケ券を割当ました。<br>
        内容に問題なければ次へボタンを押して進んでください。
    </p>

    <form method="post">
        <ul class="box bg-light-gray mb-medium">
            <li>
                <dl class="d-table">
                    <dt class="d-td">Ａ－１</dt>
                    <dd class="d-td width-medium">
                        <div class="button gray-button">
                            <a href="#">
                                <div class="mb-xx-small">ムビチケ一般</div>
                                <div class="small-text">ムビチケ購入番号1111111111</div>
                            </a>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>


        <div class="section-ttl">ムビチケ券残数</div>
        <div class="box bg-light-gray mb-medium">
            <div class="box-ttl">ムビチケ購入番号:1111111111</div>
            <ul>
                <li>
                    <div class="d-table">
                        <div class="d-td">一般</div>
                        <div class="d-td text-right  large-text"><strong><%- __n('%s ticket', 2) %></strong> → <strong class="red-text"><%- __n('%s ticket', 1) %></strong></div>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="box bg-light-gray mb-small">
            <div class="text-right mb-x-small">購入枚数 <strong class="red-text large-text"><%- __n('%s ticket', 0) %></strong></div>
            <div class="text-right mb-x-small">3D上映差額分 <strong class="red-text large-text"><%= formatPrice(1200) %>円</strong></div>
            <div class="text-right">合計金額 <strong class="red-text large-text"><%= formatPrice(1200) %>円</strong></div>
        </div>

        <p class="small-text">※不足金額が発生した場合は別途クレジットカードにてお支払いいただきます。</p>
        

        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next" type="submit">購入者情報入力</button></div>
            <div class="prev-link"><a class="icon-prev"href="<%- url('purchase.mvtk') %>">戻る</a></div>
        </div>
        
    </form>
</div>