<%- contentFor('script') %>
<script src="/js/purchase/mvtk/confirm.js"></script>
<%- contentFor('prev') %>
/purchase/mvtk
<%- contentFor('body') %>
<div class="purchase-mvtk-confirm">
    <h1 class="page-ttl"><%- __('purchase.mvtk.confirm.page_ttl') %></h1>
    <p class="read"><%- __('purchase.mvtk.confirm.read') %></p>

    <form method="post">
        <% if (purchaseNoList.length > 0) { %>
        <ul class="mb-middle mvtk-lists">
            <% for (const purchaseNo of purchaseNoList) { %>
            <li class="white-box mb-small center">
                <dl class="d-table">
                    <dt class="d-td"><%- __('common.mvtk_code') %><br><%= purchaseNo %></dt>
                    <dd class="d-td">
                        <% for (const mvtkTicket of mvtk) { %>
                        <% if (mvtkTicket.code === purchaseNo) { %>
                        <p><strong><%= mvtkTicket.ticket.ticketName %> × <%= mvtkTicket.ykknInfo.ykknKnshbtsmiNum %></strong></p>
                        <% } %>
                        <% } %>
                    </dd>
                </dl>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <div class="mb-middle">
            <p><%- __('purchase.mvtk.confirm.not_ticket') %></p>
        </div>
        <% } %>
        
        <div class="button next-button middle-button"><button class="center icon-triangle-01" type="submit"><%- __('purchase.mvtk.confirm.next') %></button></div>
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
    </form>
</div>