
<div class="modal" data-modal="securitycode">
    <div class="inner">
        <div class="box radius bg-white">
            <div class="modal-ttl mb-xx-small text-center"><%- __('common.note.securitycode') %></div>
            <p class="mb-medium small-x-text text-center"><%- __('purchase.input.modal.securitycode.read') %></p>
            <div class="box radius bg-light-gray">
                <dl class="mb-medium">
                    <dt><strong><%- __('purchase.input.modal.securitycode.back.ttl') %></strong></dt>
                    <dd><%- __('purchase.input.modal.securitycode.back.text') %></dd>
                    <dd><img src="/images/default/common/credit_back.svg" alt=""></dd>
                </dl>
                <dl>
                    <dt><strong><%- __('purchase.input.modal.securitycode.front.ttl') %></strong></dt>
                    <dd><%- __('purchase.input.modal.securitycode.front.text') %></dd>
                    <dd><img src="/images/default/common/credit_front.svg" alt=""></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>