<div class="modal-cover" onclick=""></div>
<div class="modal" data-modal="screen">
    <div class="inner">
        <div class="screen-cover bg-light-gray" 
        data-limit="5" 
        data-theater="<%= performance.theater._id %>" 
        data-day="<%= performance.day %>" 
        data-coa-title-code="<%= performance.film.coa_title_code %>"
        data-coa-title-branch-num="<%= performance.film.coa_title_branch_num %>"
        data-time-start="<%= performance.time_start %>"
        data-screen-code="<%= performance.screen.coa_screen_code %>">
            <div class="screen">
                <div class="screen-scroll">
                    <%- partial('../../screens/00101') %>
                </div>
                <div class="device-type-pc"></div>
                <div class="device-type-sp"></div>
            </div>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
    <div style="display: none" data-seats="<%= JSON.stringify(reserveSeats) %>"></div>
</div>