<div class="steps">
    <ul>
        <li class="step step-01<%= (step === 0) ? ' active' : '' %>"></li>
        <li class="step step-02<%= (step === 1) ? ' active' : '' %>"></li>
        <li class="step step-03<%= (step === 2) ? ' active' : '' %>"></li>
        <li class="step step-04<%= (step === 3) ? ' active' : '' %>"></li>
        <li class="step step-05<%= (step === 4) ? ' active' : '' %>"></li>
    </ul>
</div>