
<div class="modal" data-modal="screen">
    <div class="inner">
        <div class="screen-cover bg-light-gray" 
        data-limit="4" 
        data-theater="<%= performance.attributes.theater.id %>" 
        data-day="<%= performance.attributes.day %>" 
        data-coa-title-code="<%= performanceCOA.titleCode %>"
        data-coa-title-branch-num="<%= performanceCOA.titleBranchNum %>"
        data-time-start="<%= performance.attributes.time_start %>"
        data-screen-code="<%= performanceCOA.screenCode %>">
            <div class="screen">
                <div class="screen-scroll">
                    
                </div>
                <div class="device-type-pc"></div>
                <div class="device-type-sp"></div>
            </div>
        </div>
    </div>
    <div class="close-button button small-button">
        <a class="modal-close" href="#"></a>
    </div>
    <div style="display: none" data-seats="<%= JSON.stringify(reserveSeats) %>"></div>
</div>