
<div class="modal" data-modal="securitycode">
    <div class="inner">
        <div class="modal-ttl mb-small text-center"><%- __('common.note.securitycode') %></div>
        <p class="mb-middle small-text text-center"><%- __('purchase.input.modal.securitycode.read') %></p>
        <dl class="mb-middle">
            <dt><strong><%- __('purchase.input.modal.securitycode.back.ttl') %></strong></dt>
            <dd><%- __('purchase.input.modal.securitycode.back.text') %></dd>
            <dd><img src="/images/common/credit_back.svg" alt=""></dd>
        </dl>
        <dl>
            <dt><strong><%- __('purchase.input.modal.securitycode.front.ttl') %></strong></dt>
            <dd><%- __('purchase.input.modal.securitycode.front.text') %></dd>
            <dd><img src="/images/common/credit_front.svg" alt=""></dd>
        </dl>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>