<div class="modal" data-modal="ticketType">
    <div class="inner">
        <ul>
            <% for (let ticket of salesTickets) { %>
            <% 
                const ticketName = (ticket.glasses) ? ticket.ticketName + __('common.glasses') : ticket.ticketName;
                const ticketNote = (ticket.mvtkNum !== '') ? __('common.mvtk_code') + ticket.ticketNote : ticket.ticketNote;
            %>
            <li>
                <a href="#" class="icon-triangle-gray" 
                    data-ticket-code="<%= ticket.ticketCode %>"
                    data-ticket-name="<%= ticketName %>"
                    data-sale-price="<%= ticket.salePrice %>"
                    data-glasses="<%= ticket.glasses %>"
                    data-add-price-glasses="<%= ticket.addPriceGlasses %>"
                    data-mvtk-num="<%= ticket.mvtkNum %>">
                    <dl class="d-table">
                        <dt class="d-td">
                            <div class="mb-small"><%= ticketName %> <strong>￥<%= formatPrice(ticket.salePrice) %></strong></div>
                            <% if (ticketNote) { %>
                            <p class="small-text"><%= ticketNote %></p>
                            <% } %>
                        </dt>
                        <dd class="d-td">選択</dd>
                    </dl>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>