<!DOCTYPE html>
<html lang="<%- __('lang') %>">
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<link href="/css/style.css" rel="stylesheet">
<%- blocks.style %>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/js/common.js"></script>
<script src="/js/Modal.js"></script>
<%- blocks.script %>
</head>

<body class="purchase">

<%- include header %>

<div class="contents">
    <%- body %>
</div>

<%- include footer %>

</body>
</html>