<!DOCTYPE html>
<html lang="<%- __('lang') %>">
<%- include ../head %>

<body class="purchase">
<div class="wrapper">
<%- include header %>

<div class="contents">
    <%- body %>
</div>

<%- include ../footer %>
</div>
<div class="modal-cover" onclick=""></div>
<%- blocks.modals %>
<%- include ../loading %>
</body>
</html>