<div style="display: none" class="inquiry-print">
    <h1 class="page-ttl"><%- __('inquiry.print.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.print.read') %></p>
</div>
<div style="display: none" class="inquiry-complete">
    <h1 class="page-ttl"><%- __('inquiry.complete.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.complete.read') %></p>

    <div class="button middle-button"><a class="center" href="/"><%- __('inquiry.complete.next') %></a></div>
</div>