<%- contentFor('script') %>
<script src="/js/common/numerickey.js"></script>
<script src="/js/inquiry/login.js"></script>
<%- contentFor('style') %>
<style>
.navigation .buttons .ticketing-button {
    display: none;
}
</style>
<%- contentFor('prev') %>
/
<%- contentFor('body') %>
<%- include('../layouts/inquiry/steps', {step: 0}) %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.login.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.login.read') %></p>
    
    <form method="post">
        <div class="form-layout center">
            <dl class="mb-small">
                <dt><%- __('common.purchase_number') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="reserveNum" maxlength="8" autocomplete="off" placeholder="<%- __('common.placeholder.purchase_number') %>" value="<%= reserveNum %>" class="numerickeybord" readonly="readonly">
                </dd>
            </dl>
            <dl class="mb-large">
                <dt><%- __('common.tel_num') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="telephone" autocomplete="off" placeholder="<%- __('common.placeholder.tel') %>" value="<%= telephone %>" class="numerickeybord" readonly="readonly">
                </dd>
            </dl>
        </div>

        <% if (theaterCode) { %>
            <input type="hidden" name="theaterCode" value="<%= theaterCode %>">
        <% } %>
        
        <div class="button middle-button next-button blue-button"><button class="center icon-triangle-white" type="submit"><%- __('inquiry.login.next') %></button></div>
    </form>
    <input type="hidden" name="validation" value="<%= JSON.stringify(error) %>">
</div>
<%- contentFor('modals') %>
<%- include('modals/validation') %>