<%- contentFor('script') %>
<script src="/js/inquiry/index.js"></script>

<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.confirm.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.confirm.read') %></p>

    <div class="ghost-button black-button mb-large center-button ticket-scroll-button">
        <a class="icon-ticket-black" href="#"><%- __('inquiry.confirm.ticket_button') %></a>
    </div>

    <div class="box radius bg-ultra-light-gray mb-large">
        <div class="section-ttl text-center"><%- __('inquiry.confirm.section_ttl') %></div>
        <p class="small-x-text mb-small read"><%- __('inquiry.confirm.section_text') %></p>
        <div class="small-x-text bookmark"><img src="/images/default/inquiry/bookmark.svg" alt=""></div>
    </div>

    <div class="box radius bg-light-gray mb-large">
        <dl>
            <dt><%- __('common.purchase_number') %></dt>
            <dd><strong class="red-text large-x-text"><%= inquiryModel.login.reserveNum %></strong></dd>
            <dd class="small-x-text"><%- __('inquiry.confirm.note') %></dd>
        </dl>
    </div>

    <h2 class="page-ttl qr-tickets"><%- __('inquiry.confirm.qr_ttl') %></h2>
    <p class="read"><%- __('inquiry.confirm.qr_read') %></p>
    <ul class="tickets mb-large">
        <% for (let i = 0; i < inquiryModel.order.acceptedOffers.length; i++) { %>
        <% const offer = inquiryModel.order.acceptedOffers[i] %>
        <li class="ticket">
            <div class="inner bg-light-gray">
                <div class="box radius border-bottom-dot bg-white">
                    <div class="mb-xx-small small-text"><strong><%- __('common.seat') %></strong> [<%- __('common.ticket') %>]</div>
                    <div class="ticket-number bg-light-gray small-text"><%- `${i + 1}/${inquiryModel.order.acceptedOffers.length}` %><%- __('common.ticket_number') %></div>
                    <div class="mb-xx-small">
                        <strong class="large-text"><%= offer.reservedTicket.coaTicketInfo.seatNum %></strong>
                    </div>
                    <div>
                        <% if (offer.reservedTicket.coaTicketInfo.addGlasses > 0) { %>
                        [<%= offer.reservedTicket.coaTicketInfo.ticketName %><%= __('common.glasses') %>]
                        <% } else { %>
                        [<%= offer.reservedTicket.coaTicketInfo.ticketName %>]
                        <% } %>
                    </div>
                </div>
                <% if (moment(offer.reservationFor.startDate).subtract(24, 'hours').unix() > moment().unix()) { %>
                <div class="box radius border-bottom-dot not-qr-code bg-white">
                    <p class="text-center"><%- __('inquiry.confirm.qr_before') %></p>
                </div>
                <% } else if (moment(offer.reservationFor.endDate).add(1, 'months').unix() < moment().unix()) { %>
                <div class="box radius border-bottom-dot not-qr-code bg-white">
                    <p class="text-center"><%- __('inquiry.confirm.qr_after') %></p>
                </div>
                <% } else { %>
                <div class="box radius border-bottom-dot qr-code bg-white text-center" data-qrcode="<%- offer.reservedTicket.ticketToken %>"></div>
                <% } %>
                <div class="box">
                    <div class="mb-xx-small small-text"><strong><%- __('common.appreciation_date') %></strong></div>
                    <% const date = moment(offer.reservationFor.startDate).format('YYYYMMDD') %>
                    <div class="mb-x-small"><%= moment(date).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(date).format('ddd') + ']') %>) <%= inquiryModel.getScreeningTime(offer).start %>-<%= inquiryModel.getScreeningTime(offer).end %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.theater') %></strong></div>
                    <div class="mb-x-small"><%= inquiryModel.movieTheaterOrganization.location.name.ja %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.screen') %></strong></div>
                    <div class="mb-x-small"><%= offer.reservationFor.location.name.ja %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.film_title') %></strong></div>
                    <div><%= offer.reservationFor.workPerformed.name %></div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black" href="/inquiry/login?theater=<%= inquiryModel.movieTheaterOrganization.location.branchCode %>"><%- __('inquiry.confirm.prev') %></a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>

<input type="hidden" name="theaterCode" value="<%= inquiryModel.movieTheaterOrganization.location.branchCode %>">
<input type="hidden" name="reserveNum" value="<%= inquiryModel.login.reserveNum %>">
<input type="hidden" name="telephone" value="<%= inquiryModel.login.telephone %>">
<input type="hidden" name="orderNumber" value="<%= inquiryModel.order.orderNumber %>">
<input type="hidden" name="expire" value="<%= moment(inquiryModel.getScreeningDateToString()).add(10, 'day').format('x') %>">

