<%- contentFor('script') %>
<script src="/js/inquiry/index.js"></script>

<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.confirm.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.confirm.read') %></p>

    <div class="ghost-button black-button mb-large center-button ticket-scroll-button">
        <a class="icon-ticket-black" href="#"><%- __('inquiry.confirm.ticket_button') %></a>
    </div>

    <div class="box radius bg-ultra-light-gray mb-large">
        <div class="section-ttl text-center"><%- __('inquiry.confirm.section_ttl') %></div>
        <p class="small-x-text mb-small read"><%- __('inquiry.confirm.section_text') %></p>
        <div class="small-x-text bookmark"><img src="/images/default/inquiry/bookmark.svg" alt=""></div>
    </div>

    <div class="box radius bg-light-gray mb-large">
        <dl>
            <dt><%- __('common.purchase_number') %></dt>
            <dd><strong class="red-text large-x-text"><%= login.reserve_num %></strong></dd>
            <dd class="small-x-text"><%- __('inquiry.confirm.note') %></dd>
        </dl>
    </div>

    <h2 class="page-ttl qr-tickets"><%- __('inquiry.confirm.qr_ttl') %></h2>
    <p class="read"><%- __('inquiry.confirm.qr_read') %></p>
    <ul class="tickets mb-large">
        <% for (let i = 0; i < stateReserve.list_ticket.length; i++) { %>
        <% const ticket = stateReserve.list_ticket[i] %>
        <li class="ticket">
            <div class="inner bg-light-gray">
                <div class="box radius border-bottom-dot bg-white">
                    <div class="mb-xx-small small-text"><strong><%- __('common.seat') %></strong> [<%- __('common.ticket') %>]</div>
                    <div class="ticket-number bg-light-gray small-text"><%- `${i + 1}/${stateReserve.list_ticket.length}` %><%- __('common.ticket_number') %></div>
                    <div class="mb-xx-small">
                        <strong class="large-text"><%= ticket.seat_num %></strong>
                    </div>
                    <div>
                        <% if (ticket.add_glasses > 0) { %>
                        [<%= ticket.ticket_name %><%= __('common.glasses') %>]
                        <% } else { %>
                        [<%= ticket.ticket_name %>]
                        <% } %>
                    </div>
                </div>
                <% if (moment(`${performance.attributes.day} ${performance.attributes.time_start}`).subtract(24, 'hours').unix() < moment().unix()
                && moment(`${performance.attributes.day} ${performance.attributes.time_end}`).unix() > moment().unix()) { %>
                <div class="box radius border-bottom-dot qr-code bg-white">
                    <div class="text-center">
                        <img src="//chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%- ticket.seat_qrcode %>" alt="QRコード">
                    </div>
                </div>
                <% } else { %>
                <div class="box radius border-bottom-dot not-qr-code bg-white">
                    <p class="text-center"><%- __('inquiry.confirm.ticket_text') %></p>
                </div>
                <% } %>
                <div class="box">
                    <div class="mb-xx-small small-text"><strong><%- __('common.appreciation_date') %></strong></div>
                    <div class="mb-x-small"><%= moment(performance.attributes.day).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(performance.attributes.day).format('ddd') + ']') %>) <%= timeFormat(performance.attributes.time_start) %>-<%= timeFormat(performance.attributes.time_end) %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.theater') %></strong></div>
                    <div class="mb-x-small"><%= performance.attributes.theater.name[__('lang')] %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.screen') %></strong></div>
                    <div class="mb-x-small"><%= performance.attributes.screen.name[__('lang')] %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.film_title') %></strong></div>
                    <div><%= performance.attributes.film.name[__('lang')] %></div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black" href="/inquiry/login?theater=<%= theaterCode %>"><%- __('inquiry.confirm.prev') %></a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>

<input type="hidden" name="theater_code" value="<%= login.theater_code %>">
<input type="hidden" name="reserve_num" value="<%= login.reserve_num %>">
<input type="hidden" name="tel_num" value="<%= login.tel_num %>">
<input type="hidden" name="transaction_id" value="<%= transactionId %>">
<input type="hidden" name="expire" value="<%= moment(performance.attributes.day).add(10, 'day').format('x') %>">



