<% layout('../layouts/layout') -%>
<% block('script', '<script src="/js/method/bookmark.js"></script>') -%>
<div class="method-bookmark">
    <h1 class="page-ttl"><%- __('method.bookmark.page_ttl') %></h1>
    <p class="read"><%- __('method.bookmark.read') %></p>

    <ol>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.bookmark.step_01_ttl') %></h2>
            <p class="mb-medium"><%- __('method.bookmark.step_01_read') %></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.bookmark.step_02_ttl') %></h2>
            <p class="mb-medium"><%- __('method.bookmark.step_02_read') %></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.bookmark.step_03_ttl') %></h2>
            <p class="mb-medium"><%- __('method.bookmark.step_03_read') %></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.bookmark.step_04_ttl') %></h2>
            <p class="mb-medium"><%- __('method.bookmark.step_04_read') %></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
    </ol>


    <div class="button-area clearfix">
        <div class="close-link"><a class="icon-close-black window-close" href="#"><%- __('common.close') %></a></div>
    </div>
</div>