<% layout('./layouts/layout') -%>
<% block('script', '<script src="/js/method/entry.js"></script>') -%>
<div class="method-entry">
    <h1 class="page-ttl"><%- __('method.entry.page_ttl') %></h1>
    <p class="read"><%- __('method.entry.read') %></p>

    <ol>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.entry.step_01_ttl') %></h2>
            <p class="mb-medium"><%- __('method.entry.step_01_read') %><br><a class="icon-new-tab-blue" href="/inquiry/login" target="_blank"><%- __('method.entry.step_01_link') %></a></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.entry.step_02_ttl') %></h2>
            <p class="mb-medium"><%- __('method.entry.step_02_read') %></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
        <li class="mb-large">
            <h2 class="section-ttl"><%- __('method.entry.step_03_ttl') %></h2>
            <p class="mb-medium"><%- __('method.entry.step_03_read') %></p>
            <div class="image"><img src="/images/common/test.svg" alt=""></div>
        </li>
    </ol>


    <div class="button-area clearfix">
        <div class="close-link"><a class="icon-close-black window-close" href="#"><%- __('common.close') %></a></div>
    </div>
</div>