<% layout('layout') -%>
<h1>購入者内容確認</h1>

<form method="post">
    <h2>作品情報</h2>
    <div>
        <label>劇場 / スクリーン</label>
        <div><%= (film) ? film.theater : '' %> <%= (film) ? film.screen : '' %></div>
    </div>
    <div>
        <label>作品名</label>
        <div><%= (film) ? film.name : '' %></div>
    </div>
    <div>
        <label>鑑賞日時</label>
        <div><%= (film) ? film.schedule : '' %></div>
    </div>
    <div>
        <label>座席</label>
        <div>
            <ul>
            <% for (let seat of film.seats) { %>
               <li><%= seat %></li> 
            <% } %>
            </ul>
        </div>
    </div>
    <div>
        <label>券種 / 枚数</label>
        <div>
            <ul>
            <% for (let ticket of film.tickets) { %>
               <li><%= ticket.type %> <%= ticket.length %>枚</li> 
            <% } %>
            </ul>
        </div>
    </div>
    <h2>予約情報</h2>
    <div>
        <label>お名前（ひらがな）</label>
        <div><%= (info) ? info.lastNameHira : '' %> <%= (info) ? info.firstNameHira : '' %></div>
    </div>
    <div>
        <label>メールアドレス</label>
        <div><%= (info) ? info.mail : '' %></div>
    </div>
    <div>
        <label>電話番号</label>
        <div><%= (info) ? info.tel : '' %></div>
    </div>
    <h2>支払情報</h2>
    <div>
        <label>カード番号</label>
        <div><%= (info) ? info.creditNumber : '' %></div>
    </div>
    <div>
        <label>カード有効期限</label>
        <div><%= (info) ? info.creditYear : '' %> / <%= (info) ? info.creditMonth : '' %></div>
    </div>
    <div>
        <label>ご利用金額</label>
        <div>￥5,100</div>
    </div>
    <div>
        <button class="next" type="submit">購入確定</button>
        <button class="prev" onclick="history.back();">戻る</button>
    </div>
    <input type="hidden" name="token" value="<%= token %>">
</info>