<% layout('layout') -%>
<h1>購入者情報入力</h1>

<form method="post">
    <h2>お名前（漢字）</h2>
    <div>
        <label>姓</label>
        <input type="text" name="lastNameKanji" value="<%= (info) ? info.lastNameKanji : '' %>">
        <% if (error && error.lastNameKanji) { %>
        <div><%= error.lastNameKanji[0] %></div>
        <% } %>
    </div>
    <div>
        <label>名</label>
        <input type="text" name="firstNameKanji" value="<%= (info) ? info.firstNameKanji : '' %>">
        <% if (error && error.firstNameKanji) { %>
        <div><%= error.firstNameKanji[0] %></div>
        <% } %>
    </div>
    <h2>お名前（ひらがな）</h2>
    <div>
        <label>せい</label>
        <input type="text" name="lastNameHira" value="<%= (info) ? info.lastNameHira : '' %>">
        <% if (error && error.lastNameHira) { %>
        <div><%= error.lastNameHira[0] %></div>
        <% } %>
    </div>
    <div>
        <label>めい</label>
        <input type="text" name="firstNameHira" value="<%= (info) ? info.firstNameHira : '' %>">
        <% if (error && error.firstNameHira) { %>
        <div><%= error.firstNameHira[0] %></div>
        <% } %>
    </div>
    <h2>メールアドレス</h2>
    <div>
        <input type="email" name="mail" value="<%= (info) ? info.mail : '' %>">
        <% if (error && error.mail) { %>
        <div><%= error.mail[0] %></div>
        <% } %>
    </div>
    <div>
        <label>メールアドレス(確認)</label>
        <input type="text" name="mailConfirm" value="<%= (info) ? info.mailConfirm : '' %>">
        <% if (error && error.mailConfirm) { %>
        <div><%= error.mailConfirm[0] %></div>
        <% } %>
    </div>
    <h2>電話番号</h2>
    <div>
        <input type="text" name="tel" value="<%= (info) ? info.tel : '' %>">
        <% if (error && error.tel) { %>
        <div><%= error.tel[0] %></div>
        <% } %>
    </div>
    <h2>お支払情報</h2>
    <div>
        <label>確認</label>
        <strong>￥5,100</strong>
    </div>
    <div>
        <label>カード番号</label>
        <input type="text" name="creditNumber" maxlength="16" autocomplete="off" value="">
        <% if (error && error.creditNumber) { %>
        <div><%= error.creditNumber[0] %></div>
        <% } %>
    </div>
    <div>
        <label>カード有効期限</label>
        <select name="creditYear">
            <%
            let choices = {};
            let year2digits = moment().format('YY');
            for (let i = 0; i < 10; i++) {
                let key = (parseInt(year2digits) + i).toString();
                choices[key] = `20${key}`;
            }
            %>
            <% for (let key in choices) { %>
            <option value="<%- key %>"><%- choices[key] %></option>
            <% } %>
        </select>月
        <select name="creditMonth">
            <%
            for (let i = 0; i < 12; i++) {
                let num = i + 1;
                let month = (num < 10) ? '0' + String(num) : String(num);
            %>
                <option value="<%= month %>"><%= month %></option>
            <% } %>
        </select>年
    </div>
    <div>
        <label>カード名義人</label>
        <input type="text" name="creditName" value="">
        <% if (error && error.creditName) { %>
        <div><%= error.creditName[0] %></div>
        <% } %>
    </div>
    <div>
        <label>セキュリティーコード</label>
        <input type="text" name="creditCord" value="">
        <% if (error && error.creditCord) { %>
        <div><%= error.creditCord[0] %></div>
        <% } %>
    </div>
    <div>
        <button class="next" type="submit">次へ</button>
        <button class="prev" onclick="history.back();">戻る</button>
    </div>
    <input type="hidden" name="token" value="<%= token %>">
</info>