<% layout('../layout') -%>
<% block('script', '<script src="/js/inquiry/confirm.js"></script>') -%>
<div class="inquiry-confirm">
    <h1 class="page-ttl">QRコード発券情報確認</h1>
    <p class="read">
        当日、こちらの発券情報を使用して劇場にある発券機もしくはチケット照会ページより入場用QRコードを発券してください。<br> 発券情報をコピーするボタンを押してメールの本文などに貼付けることもできます。
    </p>

    <div class="box bg-light-gray">
        <dl>
            <dt>購入番号</dt>
            <dd class="red-text"><strong><%= inquiry.purchaseNo %></strong></dd>
            <dd class="small-text">※チケットの発行・照会等に必要な番号となりますので必ずお控えください。</dd>
        </dl>
    </div>
    
    <ul>
        <% for (let ticket of inquiry.tickets) { %>
        <li class="ticket">
            <div class="ticket-info border-bottom-dot">
                <div class="ticket-seat"><%= ticket.seat %><span class="ticket-type">[<%= ticket.type %>]</span></div>
                <div class="ticket-id">発券コード : <%= ticket.id %></div>
                <div class="copy-button button blue-button"><a href="#"></a></div>
            </div>
            <div class="ticket-qr border-bottom-dot">
                <p>鑑賞当日はこの部分にQRコードが表示されます。</p>
            </div>
            <div class="ticket-film bg-light-gray">
                <div class="ticket-date"><%= ticket.date %></div>
                <div class="ticket-theater"><%= ticket.theater %></div>
                <div class="ticket-screen"><%= ticket.screen %></div>
                <div class="ticket-title"><%= ticket.title %></div>
            </div>
            <input type="hidden" name="copy" value="座席: <%= ticket.seat %>[<%= ticket.type %>]
発券コード : <%= ticket.id %>
認証コード : <%= ticket.password %>
鑑賞日: <%= ticket.date %>
劇場: <%= ticket.theater %>
スクリーン: <%= ticket.screen %>
作品名: <%= ticket.title %>">
        </li>
        <% } %>
    </ul>
    <div class="button-area clearfix">
        <div class="prev-link close-button"><a href="#">閉じる</a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>