<% layout('../layouts/layout') -%>
<% block('script', '<script src="/js/inquiry/index.js"></script>') -%>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.confirm.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.confirm.read') %></p>

    <div class="ghost-button black-button mb-large center-button ticket-scroll-button">
        <a class="icon-ticket" href="#"><%- __('inquiry.confirm.ticket_button') %></a>
    </div>

    <div class="box bg-ultra-light-gray mb-large">
        <div class="section-ttl"><%- __('inquiry.confirm.section_ttl') %></div>
        <p class="small-text mb-small"><%- __('inquiry.confirm.section_text') %></p>
        <div class="small-text mb-small bookmark"><img src="/images/inquiry/bookmark.svg" alt=""></div>
        <div class="ghost-button blue-button center-button">
            <a href="#"><%- __('inquiry.confirm.section_button') %></a>
        </div>
    </div>

    <div class="box bg-light-gray mb-large">
        <dl>
            <dt><%- __('common.purchase_number') %></dt>
            <dd><strong class="red-text large-x-text"><%= reserve_num %></strong></dd>
            <dd class="small-text red-text">※チケットの発行・照会等に必要な番号となりますので必ずお控えください。</dd>
        </dl>
    </div>
    
    <ul class="tickets">
        
        <% for (let i = 0; i < stateReserve.list_reserve_seat.length; i++) { %>
        <li class="ticket">
            <div class="inner bg-light-gray">
                <div class="border-bottom-dot box bg-white">
                    <div>
                        <strong class="large-text"><%= stateReserve.list_reserve_seat[i].seat_num %></strong>
                        <span>[<% //stateReserve.list_ticket[i].ticket_name %>]</span>
                    </div>
                    <!--<div><%- __('common.ticket_code') %> : </div>-->
                </div>
                <div class="border-bottom-dot not-qr box bg-white">
                    <p class="text-center"><%- __('inquiry.confirm.ticket_text') %></p>
                </div>
                <div class="box not-radius">
                    <div class="mb-x-small"><%= moment(performance.attributes.day).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(performance.attributes.day).format('ddd') + ']') %>) <%= moment(performance.attributes.time_start, 'hmm').format('HH:mm') %>-</div>
                    <div class="mb-x-small"><%= performance.attributes.theater.name[__('lang')] %></div>
                    <div class="mb-x-small"><%= performance.attributes.screen.name[__('lang')] %></div>
                    <div><%= performance.attributes.film.name[__('lang')] %></div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    <div class="button-area clearfix">
        <div class="button next-button blue-button"><a class="icon-next" href="<%- url('method.ticketing') %>"><%- __('inquiry.confirm.next') %></a></div>
        <div class="close-link close-link"><a class="icon-close" href="#"><%- __('inquiry.confirm.prev') %></a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>