<% layout('../layouts/layout') -%>
<% block('script', '<script src="/js/inquiry/inquiry.js"></script>') -%>
<div class="inquiry-confirm">
    <h1 class="page-ttl">QRコード発券情報確認</h1>
    <p class="read">
        当日、こちらの発券情報を使用して劇場にある発券機もしくはチケット照会ページより入場用QRコードを発券してください。<br> 発券情報をコピーするボタンを押してメールの本文などに貼付けることもできます。
    </p>

    <div class="box bg-light-gray">
        <dl>
            <dt>購入番号</dt>
            <dd class="red-text"><strong><%= inquiry.purchaseNo %></strong></dd>
            <dd class="small-text">※チケットの発行・照会等に必要な番号となりますので必ずお控えください。</dd>
        </dl>
    </div>
    
    <ul>
        <% for (let ticket of inquiry.tickets) { %>
        <li class="ticket">
            <div class="border-bottom-dot">
                <div class="mb-x-small"><%= ticket.seat %></div>
                <div>発券コード : <%= ticket.id %></div>
            </div>
            <div class="border-bottom-dot">
                <p>鑑賞当日はこの部分にQRコードが表示されます。</p>
            </div>
            <div class="bg-light-gray">
                <div class="mb-x-small"><%= ticket.date %></div>
                <div class="mb-x-small"><%= ticket.theater %></div>
                <div class="mb-x-small"><%= ticket.screen %></div>
                <div><%= ticket.title %></div>
            </div>
        </li>
        <% } %>
    </ul>
    <div class="button-area clearfix">
        <div class="prev-link close-button"><a href="#">閉じる</a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>