<% layout('./layouts/layout') -%>
<% block('script', '<script src="/js/inquiry/index.js"></script>') -%>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.confirm.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.confirm.read') %></p>

    <div class="ghost-button black-button mb-large center-button ticket-scroll-button">
        <a class="icon-ticket-black" href="#"><%- __('inquiry.confirm.ticket_button') %></a>
    </div>

    <div class="box radius bg-ultra-light-gray mb-large">
        <div class="section-ttl text-center"><%- __('inquiry.confirm.section_ttl') %></div>
        <p class="small-text mb-small read"><%- __('inquiry.confirm.section_text') %></p>
        <div class="small-text mb-large bookmark"><img src="/images/inquiry/bookmark.svg" alt=""></div>
        <div class="ghost-button blue-button center-button">
            <a class="icon-new-tab-blue" href="/method/bookmark" target="_blank"><%- __('inquiry.confirm.section_button') %></a>
        </div>
    </div>

    <div class="box radius bg-light-gray mb-large">
        <dl>
            <dt><%- __('common.purchase_number') %></dt>
            <dd><strong class="red-text large-x-text"><%= login.reserve_num %></strong></dd>
            <dd class="small-text red-text"><%- __('inquiry.confirm.note') %></dd>
        </dl>
    </div>
    
    <ul class="tickets mb-large">
        
        <% for (let ticket of stateReserve.list_ticket) { %>
        <li class="ticket">
            <div class="inner bg-light-gray">
                <div class="box radius border-bottom-dot bg-white">
                    <div>
                        <strong class="large-text"><%= ticket.seat_num %></strong>
                        <span>[<%= ticket.ticket_name %>]</span>
                    </div>
                </div>
                <% if (moment(`${performance.attributes.day} ${performance.attributes.time_start}`).subtract(24, 'hours').unix() < moment().unix()) { %>
                <div class="box radius border-bottom-dot qr-code bg-white">
                    <div class="text-center">
                        <img src="http://chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%- ticket.seat_qrcode %>" alt="QRコード">
                    </div>
                </div>
                <% } else { %>
                <div class="box radius border-bottom-dot not-qr-code bg-white">
                    <p class="text-center"><%- __('inquiry.confirm.ticket_text') %></p>
                </div>
                <% } %>
                <div class="box">
                    <div class="mb-x-small"><%= moment(performance.attributes.day).format('YYYY年MM月DD日') %>(<%= __('week[' + moment(performance.attributes.day).format('ddd') + ']') %>) <%= moment(performance.attributes.time_start, 'hmm').format('HH:mm') %>-</div>
                    <div class="mb-x-small"><%= performance.attributes.theater.name[__('lang')] %></div>
                    <div class="mb-x-small"><%= performance.attributes.screen.name[__('lang')] %></div>
                    <div><%= performance.attributes.film.name[__('lang')] %></div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    <p class="text-center"><%- __('inquiry.confirm.qr_read') %></p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black" href="/inquiry/login"><%- __('inquiry.confirm.prev') %></a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>

<input type="hidden" name="theater_code" value="<%= login.theater_code %>">
<input type="hidden" name="reserve_num" value="<%= login.reserve_num %>">
<input type="hidden" name="tel_num" value="<%= login.tel_num %>">
<input type="hidden" name="transaction_id" value="<%= transactionId %>">
<input type="hidden" name="expire" value="<%= moment(performance.attributes.day).add(10, 'day').format('x') %>">

