<% layout('../layouts/layout') -%>
<% block('script', '<script src="/js/inquiry/login.js"></script>') -%>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.login.page_ttl') %></h1>
    <p class="read"><%- __('inquiry.login.read') %></p>
    <form method="post">
        <div class="box radius bg-light-gray">
            <dl>
                <dt><%- __('common.theater_code') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="theater_code" autocomplete="off" placeholder="<%- __('common.placeholder.theater_code') %>" value="<%= theater_code %>">
                    <% if (error && error.theater_code) { %>
                    <div class="validation-text"><%= error.theater_code[0] %></div>
                    <% } %>
                </dd>
                <dt><%- __('common.purchase_number') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="reserve_num" autocomplete="off" placeholder="<%- __('common.placeholder.purchase_number') %>" value="<%= reserve_num %>">
                    <% if (error && error.reserve_num) { %>
                    <div class="validation-text"><%= error.reserve_num[0] %></div>
                    <% } %>
                </dd>
                <dt><%- __('common.tel') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="tel_num" autocomplete="off" placeholder="<%- __('common.placeholder.tel') %>" value="<%= tel_num %>">
                    <% if (error && error.tel_num) { %>
                    <div class="validation-text"><%= error.tel_num[0] %></div>
                    <% } %>
                </dd>
            </dl>
        </div>
        
        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button class="icon-next" type="submit"><%- __('inquiry.login.next') %></button></div>
            <div class="close-link"><a class="icon-prev window-close" href="<%- url('index') %>"><%- __('inquiry.login.prev') %></a></div>
        </div>
    </form>
</div>
<div id="copy" style="display: none"></div>