<div class="screen" id="TohoRoppongiScreen1">
    <div class="screen-scroll">
        <div class="screen-inner">
            <% 
            //40*50
            let labels = [];
            for (let i = 65; i < 91; i++) {
                labels.push(String.fromCharCode(i));
            }
            %>
            <% 
            for (let y = 0; y < 20; y++) {
            for (let x = 0; x < 26; x++) { 
                let top = 120 + (50 + 10) * y;
                let left = 150 + (40 + 10) * x;
            %>
            <div class="seat seat-normal" style="top:<%- top %>px; left:<%- left %>px">
                <a href="javascript:void(0)" data-seat-code="<%= labels[y] %>-<%= (x + 1) %>"><span><%= labels[y] %><%= (x + 1) %></span></a>
            </div>
            <% 
            }
            } 
            %>
        </div>
    </div>
    <div class="zoom-btn"><a href="javascript:void(0)">zoom</a></div>
    <div class="balloon"></div>
</div>

<div class="device-type-pc"></div>
<div class="device-type-sp"></div>