<%- contentFor('script') %>
<script src="/js/purchase/overlap.js"></script>

<%- contentFor('body') %>
<div class="purchase-overlap">
    <h1 class="page-ttl red-text"><%- __('purchase.overlap.page_ttl') %></h1>
    <p class="read"><%- __('purchase.overlap.read') %></p>

    <h2 class="mb-small text-center"><%- __('purchase.overlap.prev_ttl') %></h2>
    <div class="table-layout mb-large center">
        <dl>
            <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
            <dd><%= before.superEvent.location.name.ja %> / <%= before.location.name.ja %></dd>
        </dl>

        <dl>
            <dt><%- __('common.film_title') %></dt>
            <dd><%= before.workPerformed.name %></dd>
        </dl>

        <dl>
            <dt><%- __('common.appreciation_date') %></dt>
            <dd>
                <%= moment(before.coaInfo.dateJouei).format('YYYY年MM月DD日 (ddd)') %> <%= timeFormat(before.startDate, before.coaInfo.dateJouei) %> - <%= timeFormat(before.endDate, before.coaInfo.dateJouei) %>
            </dd>
        </dl>      
    </div>
    <p class="text-center mb-small"><%- __('purchase.overlap.prev_read') %></p>
    <form method="post" action="/purchase/overlap/prev">
        <div class="button prev-button middle-button mb-large"><button class="center" type="submit"><%- __('purchase.overlap.prev') %></button></div>
        <input type="hidden" name="performanceId" value="<%= performances.before.id %>">
    </form>
    
    <h2 class="mb-small text-center"><%- __('purchase.overlap.next_ttl') %></h2>
    <div class="table-layout mb-large center">
        <dl>
            <dt><%- __('common.theater') %> / <%- __('common.screen') %></dt>
            <dd><%= after.superEvent.location.name.ja %> / <%= after.location.name.ja %></dd>
        </dl>

        <dl>
            <dt><%- __('common.film_title') %></dt>
            <dd><%= after.workPerformed.name %></dd>
        </dl>

        <dl>
            <dt><%- __('common.appreciation_date') %></dt>
            <dd>
                <%= moment(after.coaInfo.dateJouei).format('YYYY年MM月DD日 (ddd)') %> <%= timeFormat(after.startDate, after.coaInfo.dateJouei) %> - <%= timeFormat(after.endDate, after.coaInfo.dateJouei) %>
            </dd>
        </dl>
    </div> 
    <p class="text-center  mb-small"><%- __('purchase.overlap.next_read') %></p>
    <form method="post" action="/purchase/overlap/new">
        <div class="button next-button blue-button middle-button"><button class="center icon-triangle-01" type="submit"><%- __('purchase.overlap.next') %></button></div>
        <input type="hidden" name="performanceId" value="<%= performances.after.id %>">
    </form>

    
</div>