<%- contentFor('script') %>
<% if (env === 'development') { %>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<% } else { %>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>window.Vue || document.write('<script src="/js/lib/vue@2.6.11.js"><\/script>');</script>
<% } %>

<%- contentFor('afterScript') %>
<script src="/js/purchase/performances.js"></script>
<%- contentFor('style') %>
<style>
    .navigation {
        display: none;
    }
</style>
<%- contentFor('prev') %>
/
<%- contentFor('body') %>


<div class="purchase-performances" id="performances">
    <h1 class="page-ttl"><%- __('purchase.performances.page_ttl') %></h1>
    <p class="read"><%- __('purchase.performances.read') %></p>
    <div class="form-layout center mb-middle">
        <dl>
            <dt><%- __('purchase.performances.date') %></dt>
            <dd>
                <select v-model="date">
                    <template v-for="select in dateList">
                        <option v-bind:value="select.value">{{select.text}}</option>
                    </template>
                </select>
            </dd>
        </dl>
    </div>

    <div class="sort mb-middle text-center">
        <div><a v-bind:class="{active: (sortType === 'time')}" v-on:click="changeSortType('time', $event)" href="#"><%- __('purchase.performances.sort.chronological') %></a></div>
        <div><a v-bind:class="{active: (sortType === 'film')}" v-on:click="changeSortType('film', $event)" href="#"><%- __('purchase.performances.sort.film') %></a></div>
    </div>

    <div class="mb-small service">
        <span><img src="/images/fixed/icon/icon_late_white.svg" alt="">… <%- __('common.late') %></span>
        <span><img src="/images/fixed/icon/icon_morning_white.svg" alt="">… <%- __('common.first') %></span>
    </div>

    <template v-if="error === undefined">
    <purchase-performance-time v-if="sortType === 'time' && schedule" v-bind:schedule="schedule" v-on:select="selectPerformance"></purchase-performance-time>
    <purchase-performance-film v-if="sortType === 'film' && schedule" v-bind:schedule="schedule" v-on:select="selectPerformance"></purchase-performance-film>
    </template>
    <p v-if="error !== undefined" class="text-center">{{ error }}</p>

    <div class="inquiry text-center">
        <div class="mb-middle"><%- __('purchase.performances.inquiry.read') %></div>
        <div class="button center inquiry-button blue-button">
            <a class="icon-triangle-white" href="#" v-on:click="onclickInquiry($event)"><span class="icon-ticketing-white"><%- __('purchase.performances.inquiry.button') %></span></a>
        </div>
    </div>
</div>
<input type="hidden" name="ENTRANCE_SERVER_URL" value="<%= ENTRANCE_SERVER_URL %>">
<input type="hidden" name="SCHEDULE_API_ENDPOINT" value="<%= SCHEDULE_API_ENDPOINT %>">
