
<%- contentFor('script') %>
<script src="/js/screen/create.js"></script>
<script src="/js/purchase/seat.js"></script>
<script src="/js/ScreenSeatStatusesMap.js"></script>
<%- contentFor('prev') %>
/
<%- contentFor('body') %>
<div class="purchase-seat">
    <h1 class="page-ttl"><%- __('purchase.seat.page_ttl') %></h1>
    <p class="read"><%- __('purchase.seat.read') %></p>

    <h2 class="film-ttl mb-middle text-center"><%= purchaseModel.screeningEvent.workPerformed.name %></h2>
    <div class="film-info center mb-middle text-center">
        <div><span class="small-text square"><%- __('common.screen') %></span><strong class="large-text screen-name"><%= purchaseModel.screeningEvent.location.name.ja %></strong></div>
        <div>
            <span class="small-text square"><%- __('common.screening_time') %></span>
            <div class="performance-date">
                <strong class="large-x-text time-start"><%= timeFormat(purchaseModel.screeningEvent.startDate, purchaseModel.screeningEvent.coaInfo.dateJouei) %></strong> - <span class="time-end"><%= timeFormat(purchaseModel.screeningEvent.endDate, purchaseModel.screeningEvent.coaInfo.dateJouei) %></span>
            </div>
        </div>
    </div>

    <div class="screen-cover mb-middle" 
    data-limit="<%= purchaseModel.screeningEvent.coaInfo.availableNum %>" 
    data-theater="<%= purchaseModel.screeningEvent.coaInfo.theaterCode %>" 
    data-day="<%= purchaseModel.screeningEvent.coaInfo.dateJouei %>" 
    data-coa-title-code="<%= purchaseModel.screeningEvent.coaInfo.titleCode %>"
    data-coa-title-branch-num="<%= purchaseModel.screeningEvent.coaInfo.titleBranchNum %>"
    data-time-start="<%= purchaseModel.screeningEvent.coaInfo.timeBegin %>"
    data-screen-code="<%= purchaseModel.screeningEvent.coaInfo.screenCode %>">
        <div class="seat-info">
            <div class="seat"><%- __('purchase.seat.seats.default') %></div>
            <div class="seat active"><%- __('purchase.seat.seats.active') %></div>
            <div class="seat disabled"><%- __('purchase.seat.seats.disabled') %></div>
        </div>
        <div class="screen">
            <div class="zoom-btn"><a class="icon-zoom-out text-center" href="#"><%- __('purchase.seat.zoom.out') %></a></div>
            <div class="screen-scroll">
            </div>
            <div class="device-type-pc"></div>
        </div>
        <div class="arrow prev-arrow">
            <div class="mb-x-small text-center">
                <span class="small-x-text"><%- __('purchase.seat.arrow.prev') %></span><br><span class="time"></span>
            </div>
            <a class="center" href="#"></a>
        </div>
        <div class="arrow next-arrow">
            <div class="mb-x-small text-center">
                <span class="small-x-text"><%- __('purchase.seat.arrow.next') %></span><br><span class="time"></span>
            </div>
            <a class="center" href="#"></a>
        </div>
    </div>
    
    <form method="post">
        <div class="button middle-button next-button blue-button"><button class="center icon-triangle-white" type="submit"><%- __('purchase.seat.next') %></button></div>
        <input type="hidden" name="agree" value="true" id="agree">  
        <input type="hidden" name="seats" value="<%= reserveSeats %>">
        <input type="hidden" name="transactionId" value="<%= purchaseModel.transaction.id %>">
    </form>
    <div style="display: none"><a data-modal="seatClose" href="#"></a></div>
</div>
<%- include('../error/static') %>
<input type="hidden" name="performanceId" value="<%= purchaseModel.screeningEvent.identifier %>">
<input type="hidden" name="reserveError" value="<%= reserveError %>">

<%- include('../locales/validation') %>

<%- contentFor('modals') %>
<%- include('modals/reserveError') %>
<%- include('modals/seatNotSelect') %>
<%- include('modals/seatUpperLimit') %>
<%- include('modals/seatSelectAnnounce') %>
